/* Fonts */
@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: 400;
	src: local("나눔바른고딕"),
	url(../fonts/NanumBarunGothic/NanumBarunGothicSubset.woff2) format('woff2'),
	url(../fonts/NanumBarunGothic/NanumBarunGothicSubset.woff) format('woff'),
	url(../fonts/NanumBarunGothic/NanumBarunGothicSubset.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: 700;
	src: local("나눔바른고딕 Bold"),
	url(../fonts/NanumBarunGothic/NanumBarunGothicBoldSubset.woff2) format('woff2'),
	url(../fonts/NanumBarunGothic/NanumBarunGothicBoldSubset.woff) format('woff'),
	url(../fonts/NanumBarunGothic/NanumBarunGothicBoldSubset.ttf) format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: local("Montserrat-Regular"),
	url(../fonts/Montserrat/Montserrat-Regular.woff2) format('woff2'),
	url(../fonts/Montserrat/Montserrat-Regular.woff) format('woff'),
	url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: local("Montserrat-Bold"),
	url(../fonts/Montserrat/Montserrat-Bold.woff2) format('woff2'),
	url(../fonts/Montserrat/Montserrat-Bold.woff) format('woff'),
	url(../fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'EliceDigitalBaeum';
	font-weight: 400;
	src: local("EliceDigitalBaeum-Regular"),
	url(../fonts/EliceDigitalBaeum/EliceDigitalBaeum_Regular.woff2) format('woff2'),
	url(../fonts/EliceDigitalBaeum/EliceDigitalBaeum_Regular.woff) format('woff'),
	url(../fonts/EliceDigitalBaeum/EliceDigitalBaeum_Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'EliceDigitalBaeum';
	font-weight: 700;
	src: local("EliceDigitalBaeum-Bd"),
	url(../fonts/EliceDigitalBaeum/EliceDigitalBaeum-Bd.woff2) format('woff2'),
	url(../fonts/EliceDigitalBaeum/EliceDigitalBaeum-Bd.woff) format('woff'),
	url(../fonts/EliceDigitalBaeum/EliceDigitalBaeum-Bd.ttf) format('truetype');
}

html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,main,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strong,sub,sup,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td, header, article, section, aside, nav, figure, figcaption, adress, textarea, input[type=text], input[type=password], input[type=file], input[type=email], input[type=tel] {
	margin:0;
	padding:0;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
  -moz-text-size-adjust : none;  /* 파이어폭스 */
  text-size-adjust : none;
}
body {
	font: 16px/1 "NanumBarunGothic", "Apple SD Gothic Neo", "Droid sans", "Microsoft NeoGothic ", sans-serif;
	font-weight: 400;
	color:#333;
	-webkit-text-size-adjust: none;
}

a:link,
a:visited { color:#333; text-decoration:none;}
select { height: 40px; padding: 0 40px 0 16px; font-family: "NanumBarunGothic"; font-size:100%; vertical-align:middle; border: 1px solid #dbdbdb; background: #fff url(../images/common/ico_dropdown.svg) no-repeat right 16px top 12px/16px 16px; -webkit-appearance: none;	-moz-appearance: none; appearance: none; -webkit-border-radius: 0px; border-radius: 0px; transition: border-color .2s ease-in-out;}
select:hover { border-color: #333;}
select[disabled] { color: #959595; border-color: #dbdbdb; background: #f7f7f7 url(../images/common/ico_dropdown_disable.svg) no-repeat right 16px top 12px/16px 16px;}
select::-ms-expand { display: none;} /* 화살표 없애기 for IE10, 11*/
input[type=submit] { border:0; cursor:pointer; -webkit-appearance: none;}
input[type=file],
input[type=text],
input[type=tel],
input[type=email],
input[type=password] { height: 40px; padding: 0 16px; font-family: "NanumBarunGothic"; font-size:100%; vertical-align:middle; border:1px solid #dbdbdb; background-color:#fff; -webkit-appearance: none;	-moz-appearance: none; appearance: none; -webkit-border-radius: 0px; border-radius: 0px; transition: border-color .2s ease-in-out;}
input[type=file]:hover,
input[type=text]:hover,
input[type=tel]:hover,
input[type=email]:hover,
input[type=password]:hover { border-color: #333;}
input[readonly],
input[disabled] { color: #959595; background-color:#f7f7f7;}
input.error { border-color: #ee0700;}
input.success { border-color: #366cc3;}
button { border:0 none; padding:0; margin:0; font-family: "NanumBarunGothic"; font-size:100%; color:#111; vertical-align:middle; background:transparent; cursor:pointer;}
button::-moz-focus-inner { margin: -1px; padding: 0;}
address,caption,cite,code,dfn,var,em { font-style:normal; font-weight:normal;}
textarea { width:100%; padding:16px; font-family: "NanumBarunGothic"; font-size:100%; border:1px solid #ddd; background-color:#fff; border-radius:0; resize:none; -webkit-appearance: none;	-moz-appearance: none; appearance: none; -webkit-border-radius: 0px;}
textarea[disabled],
textarea[readonly] { background-color:#ccc;}
fieldset,
img { border:0;}
ul, ol { list-style:none;}
hr { margin: 0; padding: 0; border: none;}
legend,
caption { position:absolute; top:-9999px; width: 0; height: 0; overflow: hidden; padding: 0; line-height: 0;}
table { width: 100%; border-collapse: collapse; border-spacing: 0; empty-cells:show;}
table th,
table td { vertical-align: middle;}

.ellipsis { overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.hidden {	display:none;}
.invisible { position: relative; z-index: -1; display: inline-block; overflow: hidden; height: 1px; width: 1px; border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); word-break: initial; word-wrap: initial;}