@media screen and (max-width:767px){

/* 공통 구조
**********************************************/

#wrap .onlyPC { display: none;}
#wrap .onlyMobile { display: block;}
#wrap .mobileVisible { display: none;}

/* header */
/* .moHeader .global { display: flex; align-items: center; justify-content: space-between; height: 72px; padding: 0 16px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);}
.moHeader .global h1 a { display: block;}
.moHeader .global h1 a img { width: 188px; height: 36px; vertical-align: middle;}
.moHeader .global .searchBtn i { display: block; width: 32px; height: 32px; text-indent: -99999px; background: url(../images/common/ico_search.svg) no-repeat center/cover;}
.moHeader .global .allMenuBtn i { display: block; width: 32px; height: 32px; text-indent: -99999px; background: url(../../images/common/ico_menu.svg) no-repeat center/cover;} */
.header { position: relative; height: 72px !important; padding-top: 0;}
.header .global { display: none;}
.header .menu .area { justify-content: space-between; height: 72px;}
.header .menu h1 a { padding-bottom: 0;}
.header .menu h1 a img { width: 188px; height: 36px; vertical-align: middle;}
.header .menu .gnb,
.header .menu .megaMenuBg,
.header .menu .megaMenuBg.active,
.header .menu .subMenuBlind { display: none;}
.gnb .depth1 >li >a:hover >span::after,
.gnb .depth1 >li >a.active >span::after { display: none;}


/* wrap */
.wrap { display: block; margin-top: 40px; padding: 0 16px;}

/* contents */
.contentsHeader { display: block; text-align: center;}
.contentsHeader .title h3 { font-size: 24px;}
.contentsHeader .title p { color: #767676;}
.contentsHeader .location { position: inherit; right: inherit; top: inherit; margin-top: 16px;}
.contentsHeader .location button.printBtn { display: none;}
.contentsHeader .location button.shareBtn { margin-left: 16px;}

/* 푸터 */
.mFooterCon .ftLinks { margin-top: 40px; padding: 32px 16px 0; border-bottom: none;}
.mFooterCon .ftLinks .area { flex-wrap: wrap; margin: -8px 0 0 -8px;}
.mFooterCon .ftLinks .area a { flex-direction: column; width: calc(100% / 3 - 8px); margin: 8px 0 0 8px; padding: 12px 0; border: 1px solid #dbdbdb; border-radius: 16px;}
.mFooterCon .ftLinks .area a i { margin-right: 0;}
.mFooterCon .ftLinks .area a ~ a::after { display: none;}
.mFooterCon .ftLinks .area a >div { text-align: center;}
.mFooterCon .ftLinks .area a >div b { font-size: 13px;}
.mFooterCon .ftLinks .area a i.icon5 { background: url(../images/common/ci_mps_gray@2x.png) no-repeat center/cover;}
.mFooterCon .ftLinks .area a i.icon6 { background: url(../images/common/ci_popa_gray@2x.png) no-repeat center/cover;}

.mFooterCon .mfBody { padding: 32px 16px;}
.mFooterCon .fLinks { flex-wrap: wrap; margin-top: -8px; padding-top: 0;}
.mFooterCon .fLinks a { margin-top: 8px;}
.mFooterCon .fSNS { position: inherit; right: inherit; top: inherit; margin-top: 16px;}
.mFooterCon .ftLinks .area a >div b { margin-top: 4px;}
.mFooterCon .fSNS .t select { flex: 1; width: 100%;}
.mFooterCon .fSNS .b { justify-content: inherit; margin-top: 16px;}
.mFooterCon .address { margin-top: 16px;}
.mFooterCon .address p span { display: block;}
.mFooterCon .address p span ~ span { margin: 8px 0 0;}
.mFooterCon .address p ~ p { margin-top: 16px;}


/* 공통 STYLE
**********************************************/

/* 모바일용 줄바꿈 */
.m_block { display: block;}

/* 정렬 */
.m_flexEnd { justify-content: flex-end !important;}
.m_lh29 { line-height: 29px;}

/* 글꼴 */
.requireBody { display: block;}
.requireBody .requireText { margin-top: 5px;}
.requireBody .btn { display: flex; justify-content: flex-end;}

/* Heading */
.defaultF24 { font-size: 19px; line-height: 29px;}

/* Margin */
#wrap .pcmt8 { margin-top: 0;}
#wrap .pcmt16 { margin-top: 0;}
#wrap .pcmt20 { margin-top: 0;}
#wrap .pcmt24 { margin-top: 0;}
#wrap .pcmt40 { margin-top: 0;}


#wrap .m_ml0 { margin-left: 0;}
#wrap .m_ml8 { margin-left: 8px;}
#wrap .momt0 { margin-top: 0px;}
#wrap .momt8 { margin-top: 8px;}
#wrap .momt12 { margin-top: 12px;}
#wrap .momt16 { margin-top: 16px;}
#wrap .momt20 { margin-top: 20px;}
#wrap .momt24 { margin-top: 24px;}
#wrap .momt32 { margin-top: 32px;}
#wrap .momt40 { margin-top: 40px;}
#wrap .momb32 { margin-bottom: 32px !important;}

/* 색상 */
.m_colorBlue { color: #366cc3 !important;}

/* hr */
hr.space { margin: 32px -16px; height: 12px; background-color: #f7f7f7;}
hr.space.style { margin: 24px -16px 0;}
hr.space.style2 { margin: 0 -16px;}
hr.space.style3 { margin: 32px -16px 0;}
hr.space.style4 { margin: 24px -16px 32px;}
hr.space.style5 { margin: 8px -16px 32px;}

/* 버튼 */
.m_twin .button { flex-direction: column; flex: 1; height: inherit; padding: 16px 0; line-height: 24px;}
.btnsGroup { padding-top: 24px;}
.btnsGroup.m_bdt { border-top: 1px solid #333;}
.btnsGroup.m_styleOther { margin: 0 -15px !important; padding: 24px 16px 0; border-top: 12px solid #f7f7f7;}
.btnsGroup.m_styleOther.momt32 { margin-top: 32px !important;}
#wrap .btnsGroup.m_mt0 { margin-top: 0;}
.btnsGroup.m_mb32 { margin-bottom: 32px;}


/* guideText */
.guideText >li .mlBlock { display: block; margin: 8px 0 0;}

/* bletList */
.bletListSquare >li .bLink { display: block; margin-left: 0;}

/* searchBody */
.searchBody { margin-top: 24px; padding: 0; border: solid 1px #dbdbdb; background-color: #fff;}
.searchBody .toggleGroup { height: 48px; background-color: #f7f7f7;}
.searchBody .toggleGroup .defaultH5 { padding-left: 16px; font-size: 16px;}
.searchBody .toggleGroup .toggleBtn { margin-right: 6px;}
.searchBody .controlBox { display: none; flex-wrap: wrap; padding: 16px;}
.searchBody .controlBox li label { width: 45px; padding-left: 0;}
.searchBody .controlBox li label.w2,
.searchBody .controlBox li label.w3 { width: 73px; padding-left: 0;}
.searchBody .controlBox li ~ li { margin-top: 8px;}
.searchBody .controlBox li .twin select:first-child { margin-left: 0;}
.searchBody .controlBox li.pl4 { padding-left: 0;}
.searchBody .controlBox li.wp15,
.searchBody .controlBox li.wp25,
.searchBody .controlBox li.wp30,
.searchBody .controlBox li.wp35,
.searchBody .controlBox li.wp40,
.searchBody .controlBox li.wp45,
.searchBody .controlBox li.wp60,
.searchBody .controlBox li.wp70 { width: 100%;}
.searchBody .controlBox.flexWrap { margin-top: -8px;}
.searchBody .controlBox.flexWrap li { margin-top: 8px;}
.searchBody .controlBox.flexWrap li .flex1 { flex-direction: column;}
.searchBody .controlBox.flexWrap li .flex1 .calendarBody { width: 100%;}
.searchBody .controlBox.flexWrap li .flex1 .calendarBody ~ .calendarBody { margin: 8px 0 0 0;}
.searchBody.pl48 { padding-left: 0;}

/* controlBody */
.controlBody { display: block; margin-top: 24px;}
.controlBody .control { display: flex; align-items: center; margin-top: 8px;}
.controlBody .control select { width: calc(50% - 36px); margin-right: 4px;}
.controlBody .control .button { width: 64px;}

.pageNumber a { width: 32px; height: 32px; font-size: 14px;}

/* jQuery 달력 */
.calendarBody button { width: 40px; height: 40px;}

/* viewBody */
.viewBody { margin-top: 24px; padding-top: 24px;}
.viewBody h4 { font-size: 18px;}
.viewBody .lineSpace { display: block;}
.viewBody .lineSpace >span { display: block;}
.viewBody .lineSpace >span ~ span { margin: 8px 0 0 0; padding-left: 0;}
.viewBody .lineSpace >span ~ span::before { display: none;}
.viewBody .lineSpace ~ .lineSpace { margin-top: 8px;}
.viewBody .fileForm { margin-top: 16px;}
.viewBody .article { padding: 24px 0;}
.postGroup li .ellipsis { flex: 1;}

.qnaHeader { display: block;}
.qnaHeader .qnaCol { width: 32px; height: 32px; margin-bottom: 16px;}
.qnaHeader .qnaCol img { width: 19px; height: auto;}
.vbPurpleBox { padding: 24px 16px;}


/* evaluationBody */
.evaluationBody { display: block; margin-top: 48px; padding: 32px 24px;}
.evaluationBody .context { flex: none;}
.evaluationBody .btn { margin-top: 24px;}
.evaluationBody .context .groupBox { flex-wrap: wrap; margin-top: 0;}
.evaluationBody .context .groupBox li { margin-top: 17px;}

/* stepBody */
.stepBody .stepBy { margin: 0 -12px;}
.stepBody .stepBy li { justify-content: inherit; flex-direction: column; align-items: center; height: 80px; margin: 0 12px; padding-top: 7px; text-align: center;}
.stepBody .stepBy li span { font-size: 14px; line-height: 21px;}
.stepBody .stepBy li span.text { margin: 2px 0 0 0; line-height: 18px;}
.stepBody .stepBy li ~ li::before { left: -21px;}

.setpBodyStyle { padding-bottom: 45px;}
.setpBodyStyle .stepByStyle li span.text { display: none;}
.setpBodyStyle .stepByStyle li.active { margin: 0; padding: 0 8px;}
.setpBodyStyle .stepByStyle li.active >span.text { display: block; position: absolute; left: 50%; bottom: -22px; width: max-content; transform: translateX(-50%);}
.setpBodyStyle .line { left: 63px; right: 63px;}

/* roundBox */
.roundBox { margin-top: 24px;}
.roundBox.m_marginDefault { margin-top: 0;}

/* tooltipBtn */
.tooltipBtn i { width: 20px; height: 20px;}

/* toggleBtn */
.toggleGroup { width: 100%; height: 64px;}
.toggleGroup .defaultH5 { font-size: 19px;}
.toggleGroup .toggleBtn { overflow: hidden; margin-right: -12px; padding: 10px;}
.toggleGroup .toggleBtn i { display: inline-block; width: 16px; height: 16px; text-indent: -99999px; vertical-align: middle; background: url(../images/common/ico_arrow_down.svg) no-repeat center/cover;}
.toggleGroup.active .toggleBtn i { transform: rotate(-180deg);}
.targetHidden { display: none;}
.toggleGroupNot { display: flex; align-items: center; height: 64px;}

/* dateGroup */
.dateGroup { margin-top: 0; border: none;}
.dateGroup .head { flex-direction: column; align-items: inherit; padding: 24px 16px; border-bottom: none; background-color: #f7f7f7; border-radius: 8px;}
.dateGroup .head b { padding: 0;}
.dateGroup .head .flexLeft { margin-top: 8px; font-weight: 700;}
.dateGroup .body { padding: 32px 0;}
.dateGroup .body .in { margin-top: 21px;}
.dateGroup .body .he { display: flex;}
.dateGroup .body .he select { flex: 1;}
.dateGroup.m_line .head { border: 1px solid #DBDBDB; background-color: #fff;}
.dateGroup.m_line .head b { font-weight: 400; border-right: none; background-color: #fff;}
.dateGroup.m_dBlock .head { margin: -24px -16px; background-color: #fff;}
.dateGroup.m_dBlock .head b { margin-bottom: 8px; border-right: none; background-color: #fff;}
.dateGroup.m_dBlock .inlineGroupBox { flex-wrap: wrap; padding: 0 16px 16px; background-color: #f7f7f7; border-radius: 8px;}
.dateGroup.m_dBlock .inlineGroupBox li { margin: 16px 32px 0 0;}

/* m_roundGray */
.m_roundGray { padding: 24px 15px 24px 16px; font-size: 14px; background-color: #f7f7f7; border-radius: 8px;}

/* totalBody */
.totalWrap { padding-top: 0;}
.totalWrap .twArea { width: 100%; padding: 32px 16px;}
.totalWrap .twSearchBody { width: 100%;}
.totalWrap .twSearchBody::before { left: -28px; top: -93px; margin-left: 0;}
.totalWrap .twSearchBody::after { left: inherit; right: -56px; margin-left: 0;}
.totalWrap .twGroup { display: block;}
.totalWrap .twGroup .twSearch { width: 100%;}
.totalWrap .twGroup .detailTwBtn { margin: 8px 0 0 0; width: 100%;}
.totalWrap .twGroup .groupBox { display: flex; justify-content: flex-end; margin: 8px 0 0 0;}
.totalWrap .twGroup .tbPopular { margin-top: 4px;}
.totalWrap .twList { margin-top: 32px; padding: 32px 0;}
.totalWrap .twList .twSpacelist { display: block;}
.totalWrap .twList .twSpacelist b { padding: 0;}
.totalWrap .twList .twSpacelist .groupBox { flex-wrap: wrap;}
.totalWrap .twList .twSpacelist .groupBox li { margin-top: 8px;}

.totalBody { position: absolute; top: 72px;}
.totalBody .tbArea { width: 100%; padding: 0 16px;}
.tbPopular { display: block; padding-bottom: 25px;}
.tbPopular .popularBtns { margin-left: 0;}
.tbPopular .popularBtns button { margin-top: 16px;}

/* 탭 */
.aTab.alignWrap { flex-wrap: wrap;}
.aTab.step2 li { flex: inherit; width: 50%;}
.aTab.step2 li:nth-child(3) { border-left: 1px solid #dbdbdb;}
.aTab.step2 li:nth-child(n + 3) a { border-top: none;}
.aTab.step3 li { flex: inherit; width: calc(100% / 3);}
.aTab.step3 li:nth-child(4) { border-left: 1px solid #dbdbdb;}
.aTab.step3 li:nth-child(n + 4) a { border-top: none;}

/* 라운드 블루 박스 */
.roundMyBox .name { align-items: baseline;}
.roundMyBox .name .fontEliceDigital { margin-top: -1px; font-size: 19px;}
.roundMyBox .name.center .text { font-size: 19px;}
.roundMyBox .wBoxList li { display: block;}
.roundMyBox .wBoxList li .subT { display: inline-block;}
.roundMyBox .wBoxList li >span { display: block; margin: 8px 0 0; line-height: 24px;}
.roundMyBox .totalBox { display: block;}
.roundMyBox .totalBox >div ~ div { margin: 16px 0 0;}
.roundMyBox .totalBox .t { height: inherit; min-height: 88px; padding: 16px 0;}

/* 라운드 회색 박스 */
.grayBoxR { padding: 24px 16px;}

/* FAQ 아코디언 */
.acoList { margin-top: 26px;}
.acoList >li button { padding: 18px 16px;}
.acoList >li .accopanel { padding: 24px 16px;}

/* 퀵메뉴 */
.aside { display: none;}






/* PC용 테이블에 스크롤 추가 */
.m_scoll { overflow-x: scroll; overflow-y: hidden; padding-bottom: 8px; -webkit-overflow-scrolling:touch;}
.m_scoll table { width: 912px;}
@media (hover: hover) {
	.m_scoll::-webkit-scrollbar { height: 4px;}
	.m_scoll::-webkit-scrollbar-thumb { border-radius: 4px; background-color: #959595;}
}









/* 테이블
**********************************************/

/* m_tableBody */
.m_tableBody { padding: 24px 16px; border: 1px solid #dbdbdb; border-radius: 8px;}
.mList >li ~ li { margin-top: 8px;}
.m_tableBody .mList >li h6 { font-size: 14px;}
.m_tableBody .mList >li h6 img { margin: -3px 3px 0 0; vertical-align: middle;}
.m_tableBody .roundBoxGray { position: relative; padding: 24px 16px; font-size: 14px; background-color: #f7f7f7; border-radius: 8px;}
.m_tableBody .roundBoxGray >.flexLeft { margin-top: 8px;}
.m_tableBody .roundBoxGray >.flexLeft .listDate { display: inline-block; font-size: 14px; line-height: 16px;}
.m_tableBody .roundBoxGray >.flexLeft .roundText { display: flex; align-items: center; justify-content: center; min-width: 64px; height: 24px; padding: 0 10px; font-size: 12px; border: 1px solid #333; border-radius: 12px;}
.m_tableBody .roundBoxGray >.flexLeft .roundText.blueLine { color: #366cc3; border-color: #366cc3;}
.m_tableBody .roundBoxGray >.flexLeft.mt0 { margin-top: 0;}
.m_tableBody .roundBoxGray >.flexBetween { display: flex; align-items: center; justify-content: space-between;}
.m_tableBody .roundBoxGray >.flexBetween b { font-size: 16px;}
.m_tableBody .roundBoxGray .tooltipBtn { position: absolute; right: 13px; top: 13px;}
.m_tableBody .roundBoxGray.sp { padding: 16px;}
.m_tableBody .roundBoxGray.mt { margin-top: 16px;}
.m_tableBody .roundBoxGray.totalBg { background-color: #F4F7FC;}
.m_tableBody .mList >li .linkA b { border-bottom: 1px solid #366CC3;}
.m_tableBody .mList >li .groupBox label { font-weight: 700;}
.m_tableBody .mList >li.empty { text-align: center;}
.m_tableBody .mList.mt { margin-top: 8px;}
#wrap .msList { margin-top: 16px; font-size: 14px;}
.msList >li { display: flex; align-items: baseline; justify-content: space-between;}
.msList >li ~ li { margin-top: 12px;}
#wrap .msList >li b { line-height: 21px;}
#wrap .msList >li input[type=text],
#wrap .msList >li select { width: 100%;}
#wrap .msList >li span + b { text-align: right;}
#wrap .msList >li .tNT { display: flex !important; align-items: center;}
#wrap .msList >li .tNT select { flex: 1; margin-left: 8px;}
#wrap .msList >li .tNT .other { margin-left: 8px;}
#wrap .msList >li.block { display: block;}
#wrap .msList >li.block >* { display: block;}
#wrap .msList >li.block >.mt { margin-top: 8px;}
#wrap .msList >li.block .selectPatten { display: flex; align-items: center;}
#wrap .msList >li.block .selectPatten .ml { margin-left: 8px;}
#wrap .msList >li.block .selectPatten .ml2 { margin-left: 16px;}
#wrap .msList >li.lineBreak { margin-top: 16px; padding-top: 16px; border-top: 1px solid #dbdbdb;}
#wrap .msList.bdt { padding-top: 16px; border-top: 1px solid #dbdbdb;}
#wrap .msList.mt0 { margin-top: 0;}
.fileList li { margin-top: 8px;}
.fileList li a { font-weight: 700; line-height: 21px;}
.m_tableBody .boxGray { display: flex; align-items: center; background-color: #f7f7f7;}
.m_tableBody .boxGray b { font-size: 16px;}
.m_tableBody .boxGray .num { position: relative; margin-left: 12px; padding-left: 12px; font-size: 16px;}
.m_tableBody .boxGray .num::before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 1px; height: 12px; background-color: #ccc;}
.m_tableBody.mt { margin-top: 16px;}
.m_tableBody.mt2 { margin-top: 24px;}
.m_tableBody.noBorder { padding: 0; border: none;}

.mListMulti >li { padding: 24px 16px; border: 1px solid #dbdbdb; border-radius: 8px;}
/* .mListMulti >li ~ li { margin-top: 16px;} */
.mListMulti >li ~ li { margin-top: 8px;} /* HO_04_01_02_02_05_M_02펼침 */
.mListMulti >li .roundBoxGray { padding: 24px 16px; font-size: 14px; background-color: #f7f7f7; border-radius: 8px;}
.mListMulti >li .roundBoxGraySmall { padding: 16px; font-size: 14px; background-color: #f7f7f7; border-radius: 8px;}
.mListMulti >li .roundBoxGraySmall .flexLeft { margin-top: 0;}
.roundBoxGray >.flexLeft .treeIco { margin-right: 8px;}
.roundBoxGray.border { border: solid 1px #dbdbdb;}
/* .mListMulti >li .flexLeft { margin-top: 8px;} */
.mListMulti >li .flexLeft .listDate { display: inline-block; font-size: 14px; line-height: 21px;}
.mListMulti >li .flexLeft .listText { display: inline-block; font-size: 16px; line-height: 21px;}
.mListMulti >li .flexLeft .roundText { display: flex; align-items: center; justify-content: center; width: 64px; height: 24px; font-size: 12px; border: 1px solid #333; border-radius: 12px;}
.mListMulti >li .roundBoxGray.sp { padding: 16px;}
.mListMulti >li .roundBoxGray.mt { margin-top: 16px;}
.mListMulti >li .groupBox label { font-weight: 700;}
.mListMulti >li .grayBoxList >li { margin-top: 8px; padding: 24px 16px; background-color: #f7f7f7; border-radius: 8px;}
.mListMulti >li .grayBoxList >li .treeIco { margin-right: 8px;}
.mListMulti >li .grayBoxList >li .mt { display: block; margin-top: 8px;}
.mListMulti >li .grayBoxList .flexLeft h6 { font-size: 16px;}
.mListMulti >li .titleStyle .flexLeft span { position: relative; margin-left: 12px; padding-left: 12px; font-size: 14px;}
.mListMulti >li .titleStyle .flexLeft span::before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 1px; height: 12px; background-color: #ccc;}
.mListMulti >li .titleStyle .text { margin-top: 12px; font-size: 14px; line-height: 21px;}
.mListMulti >li .spaceBetweenStyle { display: flex; align-items: center; justify-content: space-between;}
.mListMulti >li .spaceBetweenStyle span { font-size: 14px;}
.mListMulti >li .single { font-size: 14px;}
.mListMulti >li .defaultText { line-height: 24px;}
.mListMulti >li .btnLine { margin-top: 16px; padding-top: 16px; border-top: 1px solid #dbdbdb;}
.mListMulti >li .btnLine .lineButton { font-size: 14px;}
.mListMulti >li .smallFont { display: block; margin-top: 16px; font-size: 14px;}
.mListMulti >li.active { border-color: #366cc3;}
.mListMulti >li.off { background-color: #f7f7f7;}
.mListMulti >li.off .roundBoxGray { border: solid 1px #dbdbdb;}
.mListMulti >li.off .colorBlue { color: #333 !important;}


/* m_hTableBody */
.m_hTableBody >li ~ li { margin-top: 24px;}
.m_hTableBody >li >label,
.m_hTableBody >li >div >label { display: block; margin-bottom: 8px; font-size: 14px; font-weight: 700;}
.m_hTableBody >li >label .smallText { display: block; margin-top: 4px; font-weight: 400; line-height: 21px;}
.m_hTableBody >li input[type=text],
.m_hTableBody >li input[type=tel],
.m_hTableBody >li input[type=email],
.m_hTableBody >li input[type=password],
.m_hTableBody >li select { width: 100%;}
.m_hTableBody >li .boxGray { display: flex; align-items: center; position: relative; height: 67px; padding-left: 16px; background-color: #f7f7f7; border-radius: 8px;}
.m_hTableBody >li .boxGray .num { position: relative; margin-left: 12px; padding-left: 12px; font-size: 14px;}
.m_hTableBody >li .boxGray .num::before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 1px; height: 12px; background-color: #ccc;}
.m_hTableBody >li .boxGray .required { position: absolute; right: 16px; top: 16px;}
.m_hTableBody >li .roundBoxGray { padding: 16px; background-color: #f7f7f7; border-radius: 8px;}
.m_hTableBody >li .roundBoxGray.block li ~ li { margin-top: 16px;}
.m_hTableBody >li .roundBoxGray.widePd { padding: 24px 16px;}
.m_hTableBody >li .roundBoxGray >.flexLeft .roundText { display: flex; align-items: center; justify-content: center; min-width: 64px; height: 24px; padding: 0 10px; font-size: 12px; border: 1px solid #333; border-radius: 12px;}
.m_hTableBody >li .roundBoxGray >.flexLeft .roundText.blueLine { color: #366cc3; border-color: #366cc3;}
.m_hTableBody >li .post input { flex: 1; margin-right: 4px;}
.m_hTableBody >li .address input { display: block; margin-top: 8px;}
.m_hTableBody >li .phone { gap: 17px;}
.m_hTableBody >li .phone span { flex: 1;}
.m_hTableBody >li .phone span ~ span { position: relative;}
.m_hTableBody >li .phone span ~ span::before { content: ''; display: block; position: absolute; left: -12px; top: 20px; width: 7px; height: 1px; background-color: #333;}
.m_hTableBody >li .email span { position: relative; width: 100%; padding-right: 21px;}
.m_hTableBody >li .email span::before { content: '@'; position: absolute; right: 0; top: 13px;}
.m_hTableBody >li .emailSub { margin-top: 8px;}
.m_hTableBody >li .emailSub span { flex: 1;}
.m_hTableBody >li .emailSub span ~ span { margin-left: 4px;}
.m_hTableBody >li .emailSub select,
.m_hTableBody >li .emailSub input { width: 100%;}
.m_hTableBody >li .twin { display: flex; margin: 0 -2px;}
.m_hTableBody >li .twin select,
.m_hTableBody >li .twin input { width: 50%; margin: 0 2px;}
.m_hTableBody >li .spcemt { margin-top: 8px;}
.m_hTableBody >li .fileBtnBox { display: flex; align-items: flex-end;}
.m_hTableBody >li .fileBtnBox .volumeText { margin-left: 16px; font-size: 12px;}
.m_hTableBody >li .fileList li { margin-top: 8px;}
.m_hTableBody >li .fileList .fileBody { display: flex; align-items: center;}
.m_hTableBody >li .fileList .fileBody .filePor { display: flex; align-items: center; flex: 1; position: relative; min-height: 40px; padding: 0 65px 0 16px; line-height: 24px; background-color: #f7f7f7; border: solid 1px #dbdbdb;}
.m_hTableBody >li .fileList .fileBody .filePor .volume { position: absolute; right: 16px; top: 50%; margin-top: -11px; font-size: 12px; color: #767676;}
.m_hTableBody >li .fileList .fileBody .filePor.error { border-color: #ee0700; background-color: #fff;}
.m_hTableBody >li .fileList .fileBody .button { margin-left: 4px;}
.m_hTableBody >li .textarea { border: solid 1px #dbdbdb;}
.m_hTableBody >li .textarea textarea { border: none;}
.m_hTableBody >li .textarea .byte { display: block; padding: 8px; font-size: 12px; color: #767676; text-align: right;}
.m_hTableBody >li .blockBtn button { margin-top: 8px;}
.m_hTableBody >li .radioSet li ~ li { margin-top: 16px;}
.m_hTableBody >li .radioSet li .calendarBody { margin-top: 8px;}
.m_hTableBody >li .dateSelect { display: flex; align-items: center;}
.m_hTableBody >li .dateSelect select { flex: 1;}
.m_hTableBody >li .dateSelect .other { width: 20px; text-align: right;}
.m_hTableBody >li .dateSelect .other + select { margin-left: 12px;}
.m_hTableBody >li .calendarBlock { padding-right: 18px;}
.m_hTableBody >li .calendarBlock .calendarBody ~ .calendarBody { margin-top: 4px;}
.m_hTableBody >li .calendarBlock .calendarBody:first-child { position: relative;}
.m_hTableBody >li .calendarBlock .calendarBody:first-child::after { content: '~'; display: block; position: absolute; right: -16px; top: 14px;}

.m_hTableBody >li.empty { text-align: center;}
.m_hTableBody.pdb { padding-bottom: 24px;}

/* m_xBtnBody */
.m_xBtnBody >li { overflow: hidden; position: relative; padding: 36px 16px 24px; border: 1px solid #dbdbdb; border-radius: 8px;}
.m_xBtnBody >li ~ li { margin-top: 16px;}
.m_xBtnBody >li .bottomStyle { display: flex; justify-content: flex-end; margin-top: 16px;}
.m_xBtnBody >li .listRemove { position: absolute; right: 36px; top: 16px;}
.m_xBtnBody >li .listRemove i { display: block; width: 24px; height: 24px; text-indent: -99999px; background: url(../images/common/ico_close.svg) no-repeat center/cover;}
.m_xBtnBody.defaultPadding >li { padding-bottom: 24px;}
.m_xBtnBody.mt { margin-top: 16px;}


















/* 레이어
**********************************************/

.layerBody { max-height: 600px; padding: 8px 16px 32px;}
.layerTitle { height: 48px;}
.layerBody.small,
.layerBody.normal,
.layerBody.big,
.layerBody.giant { width: 100%;}
.layerBody .overflowY { margin-right: 0; padding-right: 0; max-height: 424px;}
.layerClose { right: 16px; top: 20px;}

/* 공통 */
.layerPopup .textCompleteGroup .text { font-size: 16px; line-height: 24px;}
.layerPopup .textCompleteGroup .sub { font-size: 14px;}

/* 전체 메뉴 */
#allMenu_pop .full { display: flex; flex-direction: column; position: absolute;	top: 0;	bottom: 0; width: 100%;}
.layerPopup .sitemapHeader { align-items: center; height: 72px; padding: 0 16px; color: #fff; background-color: #343e68; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);}
.layerPopup .sitemapHeader h2 { font-size: 19px;}
.layerPopup .sitemapHeader .loginName { color: #fff;}
.layerPopup .sitemapHeader .loginSpace { display: flex; align-items: center; margin-top: 8px; font-size: 12px;}
.layerPopup .sitemapHeader .loginSpace .time { display: flex; align-items: center; justify-content: center; height: 18px; margin-left: 4px; padding: 0 8px; color: #fff; background-color: rgba(255, 255, 255, 0.5); border-radius: 4px;}
.layerPopup .sitemapHeader .loginSpace .timeExtensionBtn { display: flex; align-items: center; justify-content: center; height: 18px; margin-left: 4px; padding: 0 8px; color: #333; background-color: #fff; border-radius: 4px;}
#allMenu_pop .layerClose { top: -52px;}
#allMenu_pop .layerClose i { width: 32px; height: 32px;  background: url(../images/common/ico_close_w.svg) no-repeat center/cover;}
.allMenu_pop { flex: 1;}
.allMenu_pop .allMenu { height: 100%;}
.allMenu_pop .gnb { flex: initial; height: 100%; padding-top: 0;}
.allMenu_pop .gnb .depth1 { display: block; position: relative; height: 100%;}
.allMenu_pop .gnb .depth1 >li { position: initial; width: 100%; padding-right: 24px;}
.allMenu_pop .gnb .depth1 >li ~ li { margin-left: 0;}
/* .allMenu_pop .gnb .depth1 >li:first-child .depth2 { display: block;} */
.allMenu_pop .gnb .depth1 >li >a { justify-content: initial; width: 120px; height: 64px; padding-left: 16px; font-size: 16px; color: #333; background-color: #f7f7f7;}
.allMenu_pop .gnb .depth1 >li >a +.depth2 { right: 24px;}
.allMenu_pop .gnb .depth1 >li >a.active { color: #fff; background-color: #366cc3;}
.allMenu_pop .gnb .depth1 >li >a.active >span::after { display: none;}
.allMenu_pop .gnb .depth1 >li >a.active +.depth2 { display: block;}
.allMenu_pop .gnb .depth1::after { content: ''; display: block; width: 120px; height: 100%; background-color: #f7f7f7;}
.allMenu_pop .gnb .depth2 { display: none; overflow-x: hidden; overflow-y: auto; left: 144px; top: 0; max-height: calc(100vh - 110px); margin-top: 16px; padding-left: 0;}
.allMenu_pop .gnb .depth2 >li { margin-top: 0; border-bottom: 1px solid #dbdbdb;}
.allMenu_pop .gnb .depth2 >li >a { display: flex; align-items: center; position: relative; z-index: 1; height: 48px;}
.allMenu_pop .gnb .depth2 >li >a.menu_exist::before { content: ''; position: absolute; right: 0; top: 16px; width: 16px; height: 16px; background: url(../images/common/ico_arrow_down.svg) no-repeat center/cover;}
.allMenu_pop .gnb .depth3 { position: relative; z-index: 1; margin-top: 0; padding: 8px 16px; background-color: #f7f7f7;}
.allMenu_pop .gnb .depth3 >li:first-child { margin-top: 0;}





/* 시스템 점검 안내 */
.systemLayer .grayRoundBox dt { font-size: 14px;}
.systemLayer .grayRoundBox dd { font-size: 14px;}

/* 우편번호 검색 */
.applyPostLayer .postSearchBox { padding: 16px;}
.applyPostLayer .postSearchBox .twin { display: block; margin: 0;}
.applyPostLayer .postSearchBox .twin select { width: 100%; margin: 0;}
.applyPostLayer .postSearchBox .twin select ~ select { margin-top: 8px;}

/* 설문조사 */
.layerSurveyBody { width: 100%; max-height: 600px;}

.surveyLayer .surveyGuide { flex-direction: column; padding: 15px 24px;}
.surveyLayer .textGroup .text { line-height: 29px;}

.surveyLayer .textCompleteGroup .text { font-size: 16px; line-height: 24px;}
.surveyLayer .textCompleteGroup .subText { font-size: 14px; line-height: 21px;} 

/* 404페이지 */
.errorPage { width: 100%; padding: 0 16px;}
.errorPage .textCompleteGroup { margin-top: 24px;}
.errorPage .textCompleteGroup .text { font-size: 19px; line-height: 29px;}
.errorPage .textCompleteGroup .sub { margin-top: 16px; padding: 0; font-size: 14px;}
.errorPage .btns { margin-top: 24px;}





/* 메인
**********************************************/

.mainWrap { padding: 0;}
.mainBody { display: block;}
.mainBody .linksWrap { width: 100%; min-height: inherit; height: 400px; padding: 61px 0 0; text-align: center; border-radius: 0;}
.mainBody .linksWrap .lwLinks { display: none;}
.mainBody .lwLinks { margin-top: 0; padding: 32px 0; text-align: center; background-color: #f7f7f7;}
.mainBody .lwLinks::after { display: none;}
.mainBody .lwLinks ul { margin: -8px auto 0;}
.mainBody .lwLinks ul li { width: calc(100% / 3);}
.mainBody .linksWrap .lwTitle .lwTitText { font-size: 14px;}
.mainBody .linksWrap .lwTitle h2 { font-size: 42px; line-height: 59px;}
.mainBody .linksWrap .lwTitle .lwSubText { font-size: 12px;}
.mainBody .linksWrap .deco1 { right: -87px; top: -17px; z-index: 3; width: 447px; height: 360px; background: url(../images/home/home_spring_01_m.svg) no-repeat center/cover;}
.mainBody .linksWrap .deco2 { display: none;}
.mainBody .linksWrap .deco3 { right: 50%; bottom: -271px; z-index: 1; width: 613px; height: 598px; margin-right: -265px; background: url(../images/home/home_img_m@2x.png) no-repeat center/cover;}
.mainBody .contentWrap { width: 100%; padding: 32px 16px 0;}
.mainBody .cwSeo a::after { background: url(../images/home/banner_img_01@2x.png) no-repeat center/cover;}
.mainFooter { margin-top: 24px; padding: 0 16px; border: none; border-radius: 0;}
.mainFooter ul { flex-wrap: wrap; margin: -4px;}
.mainFooter ul li { width: calc(33.33% - 8px); margin: 4px;}
.mainFooter ul li a { flex-direction: column; height: 104px; text-align: center; background-color: #f7f7f7; border-radius: 16px;}
.mainFooter ul li a .mfDiv { margin: 4px 0 0;}
.mainFooter ul li a.mfMps i { background: url(../images/home/ci_mps@2x.png) no-repeat center/cover;}
.mainFooter ul li a.mfPopa i { background: url(../images/home/ci_popa@2x.png) no-repeat center/cover;}
/* 메인만 사용 */
.main .mFooterCon .fSNS { top: inherit;}






/* 로그인
**********************************************/

.stepLogin .minNunber { display: block; height: inherit; margin-top: 24px; padding: 24px 16px;}
.stepLogin .minNunber b { font-size: 14px;}
.stepLogin .minNunber .inputBody { margin: 8px 0;}
.stepLogin .minNunber .inputBody span { width: 50%;}
.stepLogin .flexText { justify-content: flex-end;}
.stepLogin .flexText .guideText { display: none;}



.stepLogin .stepBody { display: block; background-color: inherit;}
.stepLogin .stepBody li { flex: inherit; height: 80px;}
.stepLogin .stepBody li button { flex-direction: inherit; justify-content: inherit; padding-left: 24px; background-color: rgba(54, 108, 195, 0.05);}
.stepLogin .stepBody li .icon { display: inherit; width: auto; height: auto; margin: inherit; background-color: initial;}
.stepLogin .stepBody li .icon i { width: 48px; height: 48px;}
.stepLogin .stepBody li .text { margin: 0 0 0 16px; font-size: 16px;}
.stepLogin .stepBody li ~ li { margin-top: 8px;}
.stepLogin .stepBody li ~ li button::after { display: none;}
.stepLogin .step2Group { display: block; height: inherit; margin-top: 0; padding-left: 0; border: none; border-radius: inherit;}
.stepLogin .step2Group >div { margin-left: 0;}
.stepLogin .step2Group .step2Btn { position: inherit; right: inherit; bottom: inherit; margin-top: 16px;}


/* 안내
**********************************************/

/* 제도소개 */
.guideFigure img { width: 328px; height: auto; margin: 0 auto;}

.basisInfo .basisList { margin-top: 15px;}
.basisInfo .basisList >li { display: block; padding: 25px 0;}
.basisInfo .basisList >li .title { width: inherit; padding-left: 0;}
.basisInfo .basisList >li .con { margin-top: 16px;}
.basisInfo .basisList >li .con .body { flex-wrap: wrap; justify-content: center;}
.basisInfo .basisList >li .con .body .round ~ .round { margin-left: 0;}
.basisInfo .basisList >li .con .body .r1 ~ .r1 { margin-left: 16px;}
.basisInfo .basisList >li .con .body .r2 { width: 100%; margin-top: 8px;}
.basisInfo .basisList >li .con .inline li { display: block;}
.basisInfo .basisList >li .con .inline li .t { line-height: 24px;}
.basisInfo .basisList >li .con .inline li .b { margin-top: 3px;}
.basisInfo .basisList >li .con .history li { display: block;}
.basisInfo .basisList >li .con .history li .hDate { display: block; width: inherit;}
.basisInfo .basisList >li .con .history li .text { display: block; margin-top: 8px;}

.basisInfo .work { height: inherit; padding: 40px 0;}
.basisInfo .work dt { display: block; position: inherit; font-family: "NanumBarunGothic"; color: #333; border-radius: inherit;}
.basisInfo .work dt.ico1 { left: inherit; top: inherit; width: inherit; height: inherit; background-color: #fff;}
.basisInfo .work dt.ico1::after { display: none;}
.basisInfo .work dt.ico2 { left: inherit; bottom: inherit; width: inherit; height: inherit; margin-top: 24px; background-color: #fff;}
.basisInfo .work dt.ico2::after { display: none;}
.basisInfo .work dd { margin-top: 17px;}
.basisInfo .work dd.text1 { padding: 0;}
.basisInfo .work dd.text2 { margin-top: 0; padding: 0;}
.basisInfo .workBody { height: inherit;}

/* 신청/청구 안내 */
.lineRoundBox { padding: 24px 16px;}

.paymentRound { display: block; padding-bottom: 0; border: none; border-radius: 0;}
.paymentRound span { display: block; width: 100%; padding-bottom: 24px; border: 1px solid #9ab5e1; border-radius: 8px;}
.paymentRound span ~ span { margin-top: 8px;}

/* 신고/절차안내 */
.infoDownLoad { margin-top: 24px;}

/* 지사찾기 */
.branchSeList { padding-top: 0;}
.branchSeList >li { width: 100%; margin-top: 17px; padding: 8px 16px 0;}
.branchSeList >li:first-child { margin-top: 24px;}
.branchSeList >li figure { display: flex; align-items: center; margin-bottom: 16px; padding-bottom: 8px; text-align: left;}
.branchSeList >li figure img { width: 48px; height: 48px; margin-right: 8px;}
.branchSeList >li figure .iconImg { display: block; width: 48px; height: 48px; margin-right: 8px;}
.branchSeList >li figure .ico_mps { background: url(../images/information/ci_mps@2x.png) no-repeat center/cover;}
.branchSeList >li figure .ico_popa { background: url(../images/information/ci_popa@2x.png) no-repeat center/cover;}
.branchSeList >li a { margin: 25px -16px 0;}





/* 상담
**********************************************/

/* 상담 */
.m_borderView { margin-top: 8px; padding: 24px 16px; border: solid 1px #dbdbdb; border-radius: 8px;}
.m_borderView h4 { line-height: 20px;}

.consultRound { margin-top: 24px; padding: 24px;}

/* 심사청구 */
.branchChList { flex-wrap: wrap; margin-left: 0;}
.branchChList >li { width: 100%; margin: 8px 0 0;}
.branchChList >li a { display: flex; align-items: center; height: inherit; padding: 8px 12px; text-align: left;}
.branchChList >li a figure { display: flex; align-items: center;}
.branchChList >li a figure img { width: 32px; height: 32px; margin-right: 8px;}
.branchChList >li a figure figcaption { margin: 0 4px 0 0;}
.branchChList >li a .linkArea { margin-top: 0;}






/* 신청
**********************************************/

/* 연계신청 */
.targetBody .targetOff { margin-top: 24px; padding: 16px 16px 24px;}
.targetBody .targetOff .toBody { flex-direction: column;}
.targetBody .targetOff .icon { margin: 0 auto;}
.targetBody .textGroup h4 { margin-top: 8px; font-weight: 400; line-height: 29px;}
.targetBody .textGroup h4 span.normal { display: block; line-height: 24px;}
.targetBody .textGroup h4 span.text { display: inline-block; font-size: 19px;}
.targetBody .targetOff .textGroup .btn { margin-top: 16px;}
.targetBody .targetOff .subLight { justify-content: inherit;}
.targetBody .targetOff .subLight b { display: block; width: 100%;}
.targetBody .targetOff .subLight .tooltipBtn { margin: 8px 16px 0 0;}





.targetBody .targetOn { flex-direction: column; margin-top: 24px; padding: 16px 0 24px;}
.targetBody .targetOn .icon { margin: 0 auto;}
.targetBody .targetOn .textGroup h4 { margin-top: 8px;}
.targetBody .targetOff .toBody .textGroup h4 span,
.targetBody .targetOn .textGroup h4 span.text { font-size: 19px;}
.targetBody .targetOn .textGroup .button { margin-top: 16px;}
.targetBody .targetCancel { margin-top: 24px;} 
.targetBody .targetComplete { margin-top: 24px;}
.targetBody .gtm .lineButton { display: block; margin: 8px 0 0;}

.flexOther { flex-wrap: wrap; justify-content: flex-end;}
.flexOther .defaultH4 { width: 100%;}
.flexOther >span { display: block; margin-top: 20px;}

.agreeBody { margin-top: 24px;}
.agreeBody .btnsGroup { margin-top: 32px;}

.appBody { margin-top: 0;}
.appBody .target { margin-bottom: 32px;}

/* 신청상태조회 */
.proposalBody h4.deText { margin-top: 0; line-height: 36px;}
.proposalBody .m_flexGroup { margin: 16px 0; padding: 16px; background-color: #f7f7f7; border-radius: 8px;}
.proposalBody .m_flexGroup dl { display: flex; align-items: center; font-size: 14px;}
.proposalBody .m_flexGroup dl dd { margin-left: 4px;}
.proposalBody .m_flexGroup dl + dl { margin-top: 8px;}
.proposalBody .target { padding-bottom: 32px;}
.proposalBody .target.m_pb0 { padding-bottom: 0;}
.proposalBody .sign1 { margin-top: 32px; padding-top: 32px; border-top: 1px solid #dbdbdb;}
.proposalBody .sign2 { margin-top: 32px; padding-top: 0; border-top: none;}
.proposalBody .sign2.m_bdt { padding-top: 32px; border-top: 1px solid #dbdbdb;}
.proposalBody .btnsGroup { margin-top: 32px;}



/* 청구
**********************************************/

/* 연계연금청구 */
.proposalBody .subFill { height: 51px; margin: 24px -16px 0; padding: 0 16px; background-color: #f7f7f7;}
.proposalBody .subFill .defaultH4 { font-size: 16px;}
.proposalBody .subFill.bbt { padding-bottom: 0; border-bottom: none;}
.proposalBody .subFillBody { margin: 0 -16px; padding: 16px; border-bottom: none; background-color: #F7F7F7;}
.proposalBody .subFillBody .flexLeft .defaultH4 { font-size: 16px;}
.proposalBody .subFillBody .flexLeft span { font-size: 14px;}

.etcCheckbox { position: inherit; right: inherit; top: inherit; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dbdbdb;}
.listAdd button { justify-content: center; width: 100%; padding-top: 16px;}
.listDownload { display: flex; align-items: center; justify-content: space-between; height: 51px; margin-top: 24px; padding: 0 16px; background-color: #f7f7f7; border-radius: 8px;}
.listDownload .icon { display: block; width: 24px; height: 24px; background: url(../images/common/ico_download2.svg) no-repeat center/cover;}

.purpleBox { font-size: 14px;}

.borderRound { padding: 24px 16px;}
.borderRound2 { padding: 24px 16px;}

/* 수급계좌 정보변경 */
.subDateBody { display: flex; justify-content: flex-end; margin-bottom: 16px;}
.subDateBody .subDate { font-size: 14px; color: #767676;}

.grayListBox { display: block; height: inherit; padding: 16px;}
.grayListBox span { display: block;}
.grayListBox span ~ span { margin: 8px 0 0 0; padding-left: 0;}
.grayListBox span ~ span::after { display: none;}



/* 통합검색
**********************************************/

.twListBody { margin-top: 32px; padding: 0 16px;}
.twListBody .twlTitle { line-height: 29px;}
.twListBody .twlTab { flex-wrap: wrap; margin-left: 1px;}
.twListBody .twlTab li { flex: inherit; width: calc(100% / 3); margin: -1px 0 0 -1px;}
.twListBody .twlTab li button { flex-direction: column; height: 75px; line-height: 24px;}
.twListBody .twlConBox >li >a h4 { font-size: 16px; line-height: 24px;}
.twListBody .twlConBox >li >a p { margin-top: 8px; line-height: 24px;}


/* 마이페이지
**********************************************/

/* 나의현황 */
.searchBody .controlBox.m_baseline li { align-items: baseline;}

/* 예상연금/반납금 */
.roundMyBox { padding: 24px;}

.lineGroupBox { margin: 0 -16px; padding: 16px 16px 0; border-top: 12px solid #f7f7f7;}

/* 증명서 */
.certList { display: block;}
.certList li { width: 100% !important; padding: 12px; font-size: 14px;}


/* 약관 및 방침
**********************************************/

/* 서비스 약관 */
.asheader.first { margin-top: 24px;}
.asList >li { margin-top: 24px;}
.asList >li:first-child { margin-top: 0;}

/* 지사찾기 */
.mapBody { margin-top: 24px;}

.branchList >li { padding: 24px 0;}
.branchList >li dl { display: block;}
.branchList >li dt { width: inherit;}
.branchList >li dd { margin-top: 16px;}
.branchList >li dd .blSub >li { display: block;}
.branchList >li .lB { width: 96px; height: 96px;}
.branchList >li .rB >div:first-child { margin-top: 16px;}














}



@page {
	size: A4;
	margin: 20px;
}
@media print {

	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
  }
  html, body {
		width: 210mm;
		height: 297mm;
		background: #fff;
	}
  
	.area,
	.wrap .contents { width: 780px;}
  .wrap { margin: 0; padding: 0;}
	.skipnav,
  .header,
  .footer,
	.wrap .lnbBody,
  .contentsHeader .location,
	.aside,
	.mFooterCon { display: none;}
  .tableBody table { width: calc(100% + 3px); margin-left: -2px;}
}





