/* 공통 구조
**********************************************/

.onlyPC { display: block;}
.onlyMobile { display: none;}
.area { position: relative; width: 1200px; margin: 0 auto;}
body.noScroll { overflow: hidden;}

/* skipnav */
.skipnav a { display: block; position: fixed; left: 0; top: -100px; z-index: 300; width: 100%; padding: 10px 0; color: #fff; text-align: center; background-color: #111;}
.skipnav a:focus { top: 0;}

/* header */
.header { position: fixed; left: 0; top: 0; z-index: 100; width: 100%; height: 104px; padding-top: 8px; background-color: #fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08); transition: height .2s ease-in-out;}
.header .global .area { display: flex; align-items: center; justify-content: flex-end; height: 32px;}
.header .global .area >div { display: flex; align-items: center;}
.header .global span { padding-top: 2px; font-size: 12px;}
.header .global .time { display: inline-flex; align-items: center; justify-content: center; height: 24px; margin-left: 8px; padding: 1px 8px 0; border: solid 1px #dbdbdb; background-color: #f7f7f7; border-radius: 4px;}
.header .global .logOutBtn { display: inline-flex; align-items: center; justify-content: center; height: 24px; margin-left: 8px; padding: 0 8px; font-size: 12px; border: solid 1px #dbdbdb; border-radius: 4px; }
.header .global .timeExtensionBtn { display: inline-flex; align-items: center; justify-content: center; height: 24px; margin-left: 4px; padding: 0 8px; font-size: 12px; border: solid 1px #dbdbdb; border-radius: 4px; }
.header .global .logOutBtn:hover,
.header .global .timeExtensionBtn:hover,
.header .global .fontSize.increaseBtn:hover,
.header .global .fontSize.decreaseBtn:hover { z-index: 1; border-color: #366cc3;}
.header .global .fontSize { display: flex; align-items: center; justify-content: center; position: relative; width: 24px; height: 24px; font-size: 16px; font-weight: 700; border: solid 1px #dbdbdb;}
/* .header .global .fontSize:hover { z-index: 1; color: #fff; border-color: #366cc3; background-color: #366cc3;} */
.header .global .fontSize i { display: block; width: 16px; height: 16px; text-indent: -99999px;}
.header .global .fontSize.increaseBtn { margin-left: 8px; border-radius: 4px 0 0 4px;}
.header .global .fontSize.increaseBtn i { background: url(../images/common/ico_plus.svg) no-repeat center/cover;}
.header .global .fontSize.decreaseBtn { margin-left: -1px; border-radius: 0 4px 4px 0;}
.header .global .fontSize.decreaseBtn i { background: url(../images/common/ico_minus.svg) no-repeat center/cover;}

.header .global .loginSpace { margin-left: 16px;}
.header .global .textSpace { margin-left: 32px;}
.header .menu { position: relative;}
.header .menu .area { display: flex; align-items: center; z-index: 100; height: 64px;}
.header .menu h1 { width: 215px;}
.header .menu h1 a { display: inline-block; padding-bottom: 6px;}
.header .menu h1 a img { width: 208px; height: 40px; vertical-align: middle;}
.header .menu .subMenuBlind { position: absolute; left: 0; top: 64px; z-index: 99; width: 100%; height: 0; background-color: transparent;}
.header .btnsWrap { display: flex; align-items: center;}
.header .btnsWrap button i { display: block; width: 32px; height: 32px; text-indent: -99999px;}
.header .btnsWrap .allSearchBtn i {  background: url(../images/common/ico_search.svg) no-repeat center/cover;}
.header .btnsWrap .allMenuBtn { margin-left: 16px;}
.header .btnsWrap .allMenuBtn i {  background: url(../images/common/ico_menu.svg) no-repeat center/cover;}
.gnb { flex: 1;}
.gnb .depth1 { font-size: 0;}
.gnb .depth1 >li { display: inline-block; position: relative; width: calc(100% / 6);}
.gnb .depth1 >li >a { display: flex; align-items: center; justify-content: center; height: 64px; font-size: 18px; font-weight: 700; text-align: center;}
.gnb .depth1 >li >a.active { border: 1px solid #000;}
.gnb .depth1 >li:first-child >a { padding-left: 0;}
.gnb .depth1 >li:last-child >a { padding-right: 0;}
.gnb .depth2 { display: none; position: absolute; left: 0; top: 64px; font-size: 16px; opacity: 0; transition: opacity .3s ease-in-out;}
.gnb .depth2 >li >a { line-height: 24px;}
.gnb .depth2 >li >a.active { border: 1px solid blue;}
.gnb .depth3 >li >a.active { border: 1px solid red;}
.gnb .depth1.active .depth2 { display: block; border-left: 1px solid #000;}
.gnb .depth1.active.show .depth2 { opacity: 1;}

/* wrap */
.wrap { display: flex; margin-top: 56px; padding-top: 104px;}

/* lnbBody */
.wrap .lnbBody { width: 240px; margin-right: 48px;}
.lnbBody h2 { display: flex; align-items: center; justify-content: center; overflow: hidden; position: relative; height: 120px; font-size: 32px; color: #fff; background: #366cc3 url(../images/common/pattern.svg) no-repeat center/cover; border-radius: 0 45px 0 0;}
.lnb { margin-top: 8px;}
.lnb .depth2 >li >a { display: flex; align-items: center; position: relative; height: 56px; padding-left: 16px; border: solid 1px #dbdbdb;}
.lnb .depth2 >li >a.active { z-index: 1; color: #fff; border: 1px solid #343e68; background-color: #343e68;}
.lnb .depth2 >li ~ li { margin-top: -1px;}
.lnb .depth2 >li >a.active + .depth3 { display: block;}
.lnb .depth2 >li >a.menu_exist::before { content: ''; position: absolute; right: 16px; top: 20px; width: 16px; height: 16px; background: url(../images/common/ico_arrow_down.svg) no-repeat center/cover;}
.lnb .depth2 >li >a.active.menu_exist::before { background: url(../images/common/ico_arrow_down_w.svg) no-repeat center/cover; transform: rotate(180deg);}
.lnb .depth3 { display: none; padding: 16px 0; border-left: solid 1px #dbdbdb; border-right: solid 1px #dbdbdb; background-color: #f7f7f7;}
.lnb .depth3 li a { display: flex; align-items: center; height: 40px; padding-left: 28px;}
.lnb .depth3 li a span { position: relative;}
.lnb .depth3 li a span::before { content: ''; display: block; position: absolute; left: -12px; top: 3px; width: 4px; height: 4px; background-color: #333;}
.lnb .depth3 li a:hover span,
.lnb .depth3 li a.active span { color: #366cc3; border-bottom: 1px solid #366cc3;}

/* contents */
.wrap .contents { flex: 1;}
.target { position: relative;}
.contentsHeader { position: relative;}
.contentsHeader .title h3 { font-size: 28px;}
.contentsHeader .title p { margin-top: 16px; color: #5a5a5a; line-height: 24px;}
.contentsHeader .location { display: inline-flex; align-items: center; position: absolute; right: 0; top: 0;}
.contentsHeader .location i.home { display: inline-block; width: 16px; height: 16px; margin: -3px 4px 0 0; background: url(../images/common/ico_home.svg) no-repeat center/cover;}
.contentsHeader .location .locationDepth { display: flex; align-items: center;}
.contentsHeader .location .locationDepth a { position: relative; margin-left: 4px; padding-left: 20px; font-size: 14px; color: #767676;}
.contentsHeader .location .locationDepth a::after { content: ''; display: inline-block; position: absolute; left: 0; top: -1px; width: 16px; height: 16px; text-indent: -9999rem; background: url(../images/common/ico_bc_arrow.svg) no-repeat center/16px 16px;}
.contentsHeader .location .locationDepth a:hover span { border-bottom: 1px solid #767676;}
.contentsHeader .location .locationDepth a:last-child span { font-weight: 700; color: #333;}
.contentsHeader .location .locationDepth a:last-child:hover span { border-bottom: 1px solid #333;}
.contentsHeader .location button { display: flex; align-items: center; justify-content: center; width: 32px; height: 32px; border: solid 1px #dbdbdb; border-radius: 50%;}
.contentsHeader .location button i { display: block; width: 24px; height: 24px; text-indent: -99999px;}
.contentsHeader .location button:hover { border-color: #366cc3; background-color: #366cc3;}
.contentsHeader .location button:hover i { background-position-y: -24px;}
.contentsHeader .location button.printBtn { margin-left: 16px;}
.contentsHeader .location button.printBtn i { background: url(../images/common/ico_print.svg) no-repeat center/cover;}
.contentsHeader .location button.printBtn:hover i { background: url(../images/common/ico_print_w.svg) no-repeat center/cover;}
.contentsHeader .location button.shareBtn { margin-left: 4px;}
.contentsHeader .location button.shareBtn i { background: url(../images/common/ico_share.svg) no-repeat center/cover;}
.contentsHeader .location button.shareBtn:hover i { background: url(../images/common/ico_share_w.svg) no-repeat center/cover;}

/* 푸터 */
.footer { height: 200px; margin-top: 40px; background-color: #767676;}


/* 공통 STYLE
**********************************************/

/* 정렬 */
.textLeft { text-align:left !important;}
.textCenter { text-align:center !important;}
.textRight { text-align:right !important;}
.flexLeft { display: flex;}
.flexLeft .subDate { margin-left: 16px; font-size: 14px; color: #767676;}
.flexEnd { align-items: flex-end;}
.alignCenter { align-items: center;}
.spaceBetween { align-items: center; justify-content: space-between;}
.justifyRight { justify-content: flex-end;}
.justifyContent { justify-content: center;}
.flexWrap { flex-wrap: wrap;}
.vat { vertical-align: top;}


/* 글꼴 */
.fontMontserrat { font-family: 'Montserrat', "NanumBarunGothic"; font-weight: 400;}
.fontEliceDigital { font-family: 'EliceDigitalBaeum-Bd', "NanumBarunGothic";}
#wrap .fontSize14 { font-size: 14px;}
#wrap .fontSize16 { font-size: 16px;}
#wrap .wNormal { font-weight: 400;}
.subText { margin-top: 8px; font-size: 14px;}
.requireBody { display: flex; align-items: center; justify-content: space-between;}
.requireBody .requireText { margin-top: 0;}
.requireBody .btn { margin-top: 8px;}
.requireText { display: flex; margin-top: 5px; font-size: 12px; color: #767676; text-align: left; line-height: 18px;}
.requireText i { display: inline-block; width: 16px; height: 16px; margin: 0 4px 0 0; vertical-align: middle;}
.requireText i { background: url(../images/common/ico_caption.svg) no-repeat center/cover;}
.requireText.error { color: #ee0700;}
.requireText.error i { background: url(../images/common/ico_error.svg) no-repeat center/cover;}
.requireText.success { color: #366cc3;}
.requireText.success i { background: url(../images/common/ico_success.svg) no-repeat center/cover;}

/* Heading */
.defaultH4 { font-size: 19px;}
.defaultH5 { font-size: 16px;}
.defaultH5.mt { margin-top: 24px;}

/* Margin */
#wrap .pcmt8 { margin-top: 8px;}
#wrap .pcmt24 { margin-top: 24px;}
#wrap .pcmt40 { margin-top: 40px;}

/* 색상 */
.colorBlue { color: #366cc3 !important;}
.colorGray { color: #767676 !important;}
.colorLightGray { color: #959595 !important;}
.colorOrange { color: #fc0606 !important;}
.colorRed { color: #ee0700 !important;}

/* hr */
hr.space { margin: 40px 0; height: 1px; background-color: #dbdbdb;}


/* 버튼 */
.button { display: inline-flex; align-items: center; justify-content: center; padding: 0 16px; transition: background-color .2s ease-in-out, border-color .2s ease-in-out;;}
.button.h48 { min-width: 96px; min-height: 48px; height: 48px; padding: 0 24px;}
.button.h40 { min-width: 80px; min-height: 40px; height: 40px;}
.button.h32 { min-height: 32px; height: 32px; font-size: 14px;}
.button.h24 { min-height: 24px; height: 24px; font-size: 14px;}
.button[disabled] { color: #959595 !important; border-color: #dbdbdb !important; background-color: #f7f7f7 !important; cursor: not-allowed;}
.button.black { color: #fff; background-color: #333;}
.button.black:hover, 
.button.black:active { background-color: #000;}
.button.blue { color: #fff; background-color: #366cc3;}
.button.blue:hover,
.button.blue:active { background-color: #2b569c;}
.button.gray { background-color: #eaeaea;}
.button.gray:hover,
.button.gray:active { background-color: #dbdbdb;}
.button.lineBlack { border: 1px solid #333; background-color: #fff;}
.button.lineBlack:hover,
.button.lineBlack:active { color: #366cc3; border-color: #366cc3;}

.button .dsBlock { vertical-align: middle; line-height: 24px;}
.button .arrowRight { display: inline-block; width: 24px; height: 24px; margin-left: 4px; background: url(../images/common/ico_arrow_line_w.svg) no-repeat center/cover;}
.button .icoDownload2 { display: inline-block; width: 16px; height: 16px; margin-left: 4px; background: url(../images/common/ico_download2.svg) no-repeat center/cover;}

.lineButton { display: inline-flex; align-items: center;}
.lineButton span { font-size: 14px; border-bottom: 1px solid #333;}
.lineButton .arrowRight { width: 16px; height: 16px; margin: 0 0 0 4px; background: url(../images/common/ico_arrow_right.svg) no-repeat center/cover;}
.lineButton .icoPlus { width: 16px; height: 16px; margin: -1px 0 0 4px; background: url(../images/common/ico_plus.svg) no-repeat center/cover;}
.lineButton:hover { color: #366cc3;}
.lineButton:hover span { border-color: #366cc3;}
.lineButton:hover .arrowRight { background: url(../images/common/ico_arrow_right_hover.svg) no-repeat center/cover;}

.btnsGroup { display: flex; align-items: center; padding-top: 32px;}
.btnsGroup.spaceBetween { justify-content: space-between;}
.btnsGroup.flexEnd { justify-content: flex-end;}
.btnsGroup.bdt { border-top: 1px solid #333;}
.btnsGroup.mt { margin-top: 40px;}
.btnsGroup.mt2 { margin-top: 24px;}
.btnsGroup.mt3 { margin-top: 16px;}
.btnsGroup.pdt0 { padding-top: 0;}
.btnsGroup >div { display: flex;}
.btnsGroup button ~ button { margin-left: 8px;}

/* 셀렉트 박스 */
select.h32 { height: 32px; font-size: 14px; background-position: right 16px top 8px;}

/* 체크박스, 라디오 박스 */
.icheckbox,
.iradio { position: absolute; top: -1px; left: 0; min-width: 20px; min-height: 20px; border: 1px solid #a5a5a5; background-color: #fff; border-radius: 50%; transition: all .2s ease-in-out;}
.focus { outline: 2px solid #000 !important; border-radius: 50%;}
.groupBox.flexLeft li ~ li { margin-left: 24px;}
.groupBox.flexLeft.flexWrap { margin-top: -16px;}
.groupBox.flexLeft.flexWrap li { margin: 16px 24px 0 0;}
.groupBox.single { position: relative; display: inline-block; width: 20px; height: 20px; cursor: pointer;}
.groupBox.single .icheckbox { top: 5px;}

.checkboxBox { display: flex; align-items: center; position: relative; height: 20px; padding-left: 28px;}
.checkboxBox label { cursor: pointer;}
.icheckbox::before { content: ''; display: block; position: absolute; left: 50%; top: 5px; width: 11.11px; height: 7.8px; background: url(../images/common/ico_checkbox.svg) no-repeat center/cover; transform: translateX(-50%);}
.icheckbox input { margin: 0; width: 20px; height: 20px;}
.icheckbox.checked { border-color: #366cc3; background-color: #366cc3;}
.icheckbox.checked::before { background: url(../images/common/ico_checkbox_w.svg) no-repeat center/cover;}
.icheckbox.disabled { border-color: #dbdbdb;}
.icheckbox.disabled::before { background: url(../images/common/ico_checkbox_d.svg) no-repeat center/cover;}

.radioBox { display: flex; align-items: center; position: relative; height: 20px; padding-left: 28px;}
.radioBox label { cursor: pointer;}
.iradio::before { content: ''; position: absolute; left: 3px; top: 3px; width: 12px; height: 12px; border-radius: 50%; transition: all .2s ease-in-out;}
.iradio input { margin: 0; width: 20px; height: 20px;}
.iradio.checked { border-color: #366cc3;}
.iradio.checked::before { background-color: #366cc3;}

/* lineSpace */
.lineSpace { display: flex; align-items: center;}
.lineSpace >span { display: flex; align-items: center; font-size: 14px;}
.lineSpace >span ~ span { position: relative; margin-left: 12px; padding-left: 12px;}
.lineSpace >span ~ span::before { content: ''; display: block; position: absolute; left: 0; top: 1px; width: 1px; height: 12px; background-color: #dbdbdb;}
.lineSpace >span span ~ span { margin-left: 4px;}

/* guideText */
.guideText li { position: relative; padding-left: 12px; font-size: 14px; line-height: 21px;}
.guideText li::before { content: ''; position: absolute; left: 0; top: 8px; width: 4px; height: 4px; background-color: #333;}
.guideText li ~ li { margin-top: 4px;}
.guideText li .ml { margin-left: 16px;}
.guideText li .etcColorRed { color: #fc0606;}
.guideText li.colorBlue::before { background-color: #366cc3;}
.guideText.mt { margin-top: 16px;}
.guideText.blue li { color: #366cc3;}
.guideText.blue li::before { background-color: #366cc3;}

/* flexBtn* */
.flexBtnOne { display: flex; align-items: center;}
.flexBtnOne input,
.flexBtnOne a { flex: 1; width: 100%;}
.flexBtnOne button,
.flexBtnOne .other { margin-left: 4px;}

/* searchBody */
.searchBody { margin-top: 40px; padding: 24px 48px 24px 0; background-color: #f7f7f7;}
.searchBody .controlBox { display: flex;}
.searchBody .controlBox li { display: flex; align-items: center;}
.searchBody .controlBox li label { width: 92px; padding-left: 48px; font-weight: 700;}
.searchBody .controlBox li select,
.searchBody .controlBox li input[type=text] { flex: 1; width: 100%;}
.searchBody .controlBox li input[type=text] { padding: 0 36px 0 16px;}
.searchBody .controlBox li .button { min-width: 89px; margin-left: 4px;}
.searchBody .controlBox li .button span { margin-top: -2px;}
.searchBody .controlBox li .button .searchIcon { display: inline-block; width: 24px; height: 24px; margin: -4px 4px 0 0; background: url(../images/common/ico_search_w_24.svg) no-repeat center/cover;}
.searchBody .controlBox li .searchReset { flex: 1; position: relative;}
.searchBody .controlBox li .searchReset .searchResetBtn { display: none; position: absolute; right: 16px; top: 12px; width: 16px; height: 16px;}
.searchBody .controlBox li .searchReset .searchResetBtn i { display: block; width: 100%; height: 100%; text-indent: -99999px; background: url(../images/common/ico_clear.svg) no-repeat center/cover;}
.searchBody .controlBox li .searchReset.btnShow .searchResetBtn { display: block;}
.searchBody .controlBox li .twin { display: flex; align-items: center; width: 100%;}
.searchBody .controlBox li .twin select { flex: 1;}
.searchBody .controlBox li .twin .ml { margin-left: 4px;}
.searchBody .controlBox li.pl4 { padding-left: 4px;}
.searchBody .controlBox li.wp25 { width: 25%;}
.searchBody .controlBox li.wp35 { width: 35%;}
.searchBody .controlBox li.wp30 { width: 30%;}
.searchBody .controlBox li.wp40 { width: 40%;}
.searchBody .controlBox li.wp60 { width: 60%;}
.searchBody .controlBox li.wp70 { width: 70%;}
.searchBody .controlBox.flexWrap { flex-wrap: wrap; margin-top: -16px;}
.searchBody .controlBox.flexWrap li { margin-top: 16px;}
.searchBody.pl48 { padding-left: 48px;}

/* controlBody */
.controlBody { display: flex; align-items: flex-end; justify-content: space-between; margin-top: 40px;}
.controlBody >b { font-size: 14px;}
.controlBody .control .button { padding-bottom: 1px;}


/* jQuery 달력 */
.calendarBody { display: flex; align-items: center;}
.calendarBody input { flex: 1; width: 100%;}
.calendarBody button { display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; text-indent: -99999px; border: 1px solid #dbdbdb; border-left: none;}
.calendarBody button::after { content: ''; display: block; width: 16px; height: 16px; margin-left: 1px; background: url(../images/common/ico_calendar.svg) no-repeat center/cover;}
.ui-widget { font-family: "NanumBarunGothic", "Apple SD Gothic Neo", "Droid sans", "Microsoft NeoGothic ", sans-serif}
.ui-datepicker { width: 280px; padding: 12px 16px 6px; background-color: #fff;}
.ui-widget-content { color: #333; border-color: #333; border-radius: 0;}
.ui-widget-header { font-size: 16px; border: none;}
.ui-datepicker-calendar thead th { width: 32px; padding: 10px 0 7px; font-size: 12px; font-family: 'Montserrat', "NanumBarunGothic"; font-weight: 400; color: #959595; border-bottom: 1px solid #dbdbdb;}
.ui-datepicker td { padding: 4px 0; text-align: center;}
.ui-datepicker tbody tr:first-child td { padding-top: 8px;}
.ui-datepicker td a { padding: 0;}
.ui-datepicker td a.ui-state-active { font-weight: 600; color: #fff !important; background-color: #366cc3;}
.ui-state-hover,
.ui-datepicker td a.ui-state-highlight { background-color: #f7f7f7;}
.ui-datepicker td.ui-datepicker-week-end a { color: #0052bb;}
.ui-datepicker td:last-child.ui-datepicker-week-end a { color: #ee0700;}
.ui-state-default, 
.ui-widget-content .ui-state-default { display: flex; align-items: center; justify-content: center; width: 28px; height: 28px; margin: 0 auto; font-size: 14px; font-family: 'Montserrat', "NanumBarunGothic"; font-weight: 400; color: #333; text-align: center; border: none; border-radius: 50%;}
.ui-datepicker .ui-datepicker-prev { left: -6px; cursor: pointer;}
.ui-datepicker .ui-datepicker-next { right: -6px; cursor: pointer;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span { display: block; width: 16px; height: 16px;}
.ui-datepicker .ui-datepicker-prev span { background: url(../images/common/ico_arrow_left.svg) no-repeat center/cover;}
.ui-datepicker .ui-datepicker-next span { background: url(../images/common/ico_arrow_right.svg) no-repeat center/cover;}
.ui-datepicker-year::after { content: '년';}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {	border: none;	font-weight: inherit;	color: inherit;}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover { top: 2px;}


/* viewBody */
.viewBody { margin-top: 40px; padding-top: 40px; border-top: 2px solid #333;}
.viewBody .notice span { font-size: 14px;}
.viewBody h4 { margin-top: 8px; font-size: 20px; line-height: 30px;}
.viewBody .lineSpace { margin-top: 16px;}
.viewBody .fileForm { margin-top: 24px; padding: 15px 16px; font-size: 14px; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; background-color: #f7f7f7;}
.viewBody .fileForm ul li a { display: inline-block; line-height: 21px;}
.viewBody .fileForm ul li a i { display: inline-block; width: 24px; height: 24px; margin-left: 4px; vertical-align: middle;}
.viewBody .fileForm ul li a i.play {  background: url(../images/common/ico_play.svg) no-repeat center/cover;}
.viewBody .fileForm ul li a i.download { background: url(../images/common/ico_download.svg) no-repeat center/cover;}
.viewBody .fileForm ul li ~ li { margin-top: 8px;}
.viewBody .article { padding: 40px 0; line-height: 24px;}
.viewBody .article p ~ p { margin-top: 24px;}
.viewBody .btns { display: flex; justify-content: flex-end; padding-top: 32px; border-top: solid 1px #dbdbdb;}
.postGroup { margin-top: 40px; border-top: solid 1px #dbdbdb;}
.postGroup li { display: flex; align-items: center; padding: 18px 16px; border-bottom: solid 1px #dbdbdb;}
.postGroup li span { width: 88px;}
.postGroup li a { display: inline-block;}
.postGroup li a:hover { text-decoration: underline;}

/* evaluationBody */
.evaluationBody { display: flex; align-items: center; justify-content: space-between; margin-top: 80px; padding: 33px 48px 32px; border: 1px solid #dbdbdb; border-top: 1px solid #333;}
.evaluationBody .context { flex: 1;}
.evaluationBody .context .groupBox { display: flex; align-items: center; margin-top: 17px;}
.evaluationBody .context .groupBox li { margin-right: 32px;}
.evaluationBody .btn { width: 80px;}

/* stepBody */
.stepBody { overflow: hidden; margin-top: 40px;}
.stepBody .stepBy { display: flex; margin: 0 -20px;}
.stepBody .stepBy li { display: flex; align-items: baseline; justify-content: center; flex: 1; position: relative; height: 56px; margin: 0 20px; padding-top: 18px; border: 1px solid #dbdbdb; border-radius: 8px;}
.stepBody .stepBy li >span { display: block; font-weight: 600;}
.stepBody .stepBy li >span.text { margin-left: 6px;}
.stepBody .stepBy li ~ li::before { content: ''; display: block; position: absolute; left: -28px; top: 50%; width: 16px; height: 16px; margin-top: -8px; background: url(../images/common/ico_bc_arrow.svg) no-repeat center/cover;}
.stepBody .stepBy li.active { color: #fff; border: 1px solid #366cc3; background-color: #366cc3;}
.stepBody.mt { margin-top: 24px;}

.setpBodyStyle { overflow: hidden; position: relative; margin-top: 40px; padding: 24px 50px; background-color: #f4f7fc; border-radius: 8px;}
.setpBodyStyle .stepByStyle { display: flex; justify-content: space-between; position: relative; z-index: 2; margin: 0 -4px;}
.setpBodyStyle .stepByStyle li { display: flex; flex-direction: column; align-items: center; position: relative; margin: 0 4px; text-align: center; background-color: #f4f7fc;}
.setpBodyStyle .stepByStyle li .iconRound { display: flex; align-items: center; justify-content: center; width: 32px; height: 32px;}
.setpBodyStyle .stepByStyle li .iconRound i { display: block; width: 16px; height: 16px; margin: 0 auto; background-color: #dbdbdb; border-radius: 50%;}
.setpBodyStyle .stepByStyle li .iconRound.bgBlue i { background-color: #366cc3;}
.setpBodyStyle .stepByStyle li span.text { display: block; margin-top: 8px; font-size: 14px;}
.setpBodyStyle .stepByStyle li.active >span.text { color: #366cc3;}
.setpBodyStyle .stepByStyle li.active .iconRound { background-color: #366cc3; border-radius: 50%;}
.setpBodyStyle .stepByStyle li.active .iconRound i { width: 24px; height: 24px; background-color: inherit;}
.setpBodyStyle .stepByStyle li.active .iconRound i::after { content: ''; display: block; width: 24px; height: 24px; background: url(../images/common/ico_check_w.svg) no-repeat center/cover;}
.setpBodyStyle .line { position: absolute; left: 92px; right: 92px; top: 40px; z-index: 1; height: 1px; background-color: #dbdbdb;}

/* overflowY */
.overflowY { overflow-x: hidden; overflow-y: scroll;}
.overflowY::-webkit-scrollbar { width: 4px;}
.overflowY::-webkit-scrollbar-thumb { border-radius: 4px; background-color: #959595;}

/* roundBox */
.roundBox { overflow: hidden; margin-top: 40px; border: solid 1px #dbdbdb; border-radius: 8px;}
.roundBox h4 { padding: 14px 24px; font-size: 16px; background-color: #f7f7f7;}
.roundBox .overflowY { height: 152px; margin: 23px 8px 23px 24px; font-size: 14px; line-height: 21px;}
.roundBox .overflowY >p ~ p { margin-top: 20px;}
.roundBox .overflowY .styleGray { color: #767676;}
.roundBox .overflowY ol >li { margin-top: 20px;}
.roundBox .overflowY ol >li.mt0 { margin-top: 0;}
.roundBox .overflowY li span { display: block; margin-top: 15px;}
.roundBox .default { padding: 23px 24px; font-size: 14px; line-height: 21px;}

.inlineGroupBox { display: flex; align-items: center; margin-top: 12px;}
.inlineGroupBox li ~ li { margin-left: 32px;}

/* tooltipBtn */
.tooltipBtn { margin: -2px 4px 0 4px;}
.tooltipBtn i { display: inline-block; width: 24px; height: 24px; text-indent: -99999px; background: url(../images/common/ico_help.svg) no-repeat center/cover;}

/* dateGroup */
.dateGroup { margin-top: 9px; border-top: 2px solid #333; border-bottom: 1px solid #333;}
.dateGroup .head { display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #dbdbdb;}
.dateGroup .head b { padding: 16px 24px; background-color: #f7f7f7;}
.dateGroup .body { padding: 40px 0; text-align: center;} 
.dateGroup .body p { line-height: 24px;}
.dateGroup .body .in { margin-top: 24px;}
.dateGroup .body .in span { display: block;}
.dateGroup .body .in span ~ span { margin-top: 8px;}
.dateGroup .body .he { display: inline-flex; align-items: center; margin-top: 24px;}
.dateGroup .body .he select { width: 240px;}
.dateGroup .body .he .tooltipBtn { margin-top: -15px;}
.dateGroup .body .he select { margin: 0 8px;}
.dateGroup.otherStyle { border: none;}
.dateGroup.otherStyle .body { padding-bottom: 0;}
.dateGroup.otherStyle2 { margin-top: 0; border: none;}
.dateGroup.otherStyle3 { border-bottom: none;}
.dateGroup.pdB0 .body { padding-bottom: 0;}

/* paragraphGroup */
.paragraphGroup p { line-height: 24px;}
.paragraphGroup p ~ p { margin-top: 20px;}





/* 테이블
**********************************************/


/* tableBody */
.tableBody { overflow: hidden; margin-top: 8px; border-top: 2px solid #333;}
.tableBody table { width: calc(100% + 2px); margin-left: -1px;}
.tableBody table th { padding: 12px 0; border-left: 1px solid #dbdbdb; background-color: #f7f7f7;}
.tableBody table th .sortBtn i { display: inline-block; width: 16px; height: 16px; margin-top: -4px; vertical-align: middle; background: url(../images/common/ico_dropdown.svg) no-repeat center/cover;}
.tableBody table th .sortBtn.asc i { transform: rotate(180deg);}
.tableBody table td { padding: 12px 12px; text-align: center; line-height: 24px; border: 1px solid #dbdbdb; transition: background-color .2s ease-in-out;}
.tableBody table tr:hover td { background-color: #f4f7fc;}
.tableBody table td a { text-align: left; line-height: 24px;}
.tableBody table td a:hover span { border-bottom: 1px solid #333;}
.tableBody table td input[type=text],
.tableBody table td input[type=tel],
.tableBody table td select { width: 100%; height: 32px; font-size: 14px; background-position: right 16px top 7px;}
.tableBody table td .calendarBody button { width: 32px; height: 32px;}
.tableBody table td .block { display: block; text-align: left;}
.tableBody table td.empty { padding: 40px 0;}
.tableBody table tr.off { background-color: #f7f7f7;}
.tableBody table tr.off .colorBlue { color: inherit !important;}
.tableBody table td table { margin-top: 8px; border-top: 2px solid #333;}
.tableBody table td table th:first-child { border-left: none;}
.tableBody table td table td:first-child { border-left: none;}
.tableBody table td table td:last-child { border-right: none;}
.tableBody table td table td { padding: 10px 13px;}
.tableBody table td table td input[type=text],
.tableBody table td table td select { width: 100%;}
.tableBody table.vaTop td { vertical-align: top;}
.tableBody a .new { display: inline-flex; justify-content: center; align-items: center; width: 28px; height: 16px; margin: -2px 0 0 4px; font-size: 8px; font-weight: 700; font-style: normal; color: #ee0700; vertical-align: middle; border: 1px solid #ee0700;}
.tableBody a .secret { display: inline-block; width: 16px; height: 16px; margin-top: -2px; text-indent: -99999px; vertical-align: middle; background: url(../images/common/ico_private.svg) no-repeat center/cover;}
.tableBody .fix { display: inline-block; width: 24px; height: 24px; margin-top: -1px; text-indent: -99999px; vertical-align: middle; background: url(../images/common/ico_notice.svg) no-repeat center/cover;}
.tableBody .file { display: inline-block; width: 24px; height: 24px; text-indent: -99999px; background: url(../images/common/ico_attach.svg) no-repeat center/cover;}
.tableBody.mt { margin-top: 40px;}
.tableBody.mt2 { margin-top: 16px;}
.tableBody.vaTop table td { vertical-align: top;}
.tableBody.vaTop table td .groupBox { padding-top: 6px;}
.tableBody.padding12 table td { padding: 12px;}
.tableFooterControl { height: 48px; padding-right: 12px; background-color: #f7f7f7;}
.tableFooterControl button ~ button { margin-left: 8px;}

/* hTableBody */
.hTableBody { overflow: hidden; margin-top: 8px; border-top: 2px solid #333;}
.hTableBody table th { padding: 21px 0 21px 24px; text-align: left; line-height: 24px; border-bottom: 1px solid #dbdbdb; background-color: #f7f7f7;}
.hTableBody table td { padding: 12px 15px; line-height: 24px; border-left: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;}
.hTableBody table td .post input { width: 120px;}
.hTableBody table td .post button { margin-left: 4px;}
.hTableBody table td .address input:first-child { width: 70%;}
.hTableBody table td .address input:last-child { width: 30%; margin-left: 4px;}
.hTableBody table td .address.mt { margin-top: 6px;}
.hTableBody table td .phone select,
.hTableBody table td .phone span { width: 120px;}
.hTableBody table td .phone select + span,
.hTableBody table td .phone span ~ span { position: relative; margin-left: 25px;}
.hTableBody table td .phone select + span::before,
.hTableBody table td .phone span ~ span::before { content: ''; display: block; position: absolute; left: -16px; top: 18px; width: 7px; height: 2px; background-color: #333;}
/* .hTableBody table td .phone input { width: 100%;} */
.hTableBody table td .phone .button { margin-left: 6px;}
.hTableBody table td .email input { width: 200px;}
.hTableBody table td .email span { position: relative; margin-left: 33px;}
.hTableBody table td .email span::before { content: '@'; position: absolute; left: -25px; top: 13px;}
.hTableBody table td .email select { width: 200px; margin-left: 4px;}
.hTableBody table td .textarea { border: solid 1px #dbdbdb;}
.hTableBody table td .textarea textarea { border: none;}
.hTableBody table td .textarea .byte { display: block; padding-right: 8px; font-size: 12px; color: #767676; text-align: right;}
.hTableBody table td .fileBtnBox { display: flex; align-items: flex-end; margin-bottom: 8px;}
.hTableBody table td .fileBtnBox .volumeText { margin-left: 16px; font-size: 12px;}
.hTableBody table td .fileList li ~ li { margin-top: 8px;}
.hTableBody table td .fileList li a:hover  { border-bottom: 1px solid #333;}
.hTableBody table td .fileList .fileBody { display: flex; align-items: center;}
.hTableBody table td .fileList .fileBody .filePor { display: flex; align-items: center; flex: 1; position: relative; height: 40px; padding: 0 65px 0 16px;; background-color: #f7f7f7; border: solid 1px #dbdbdb;}
.hTableBody table td .fileList .fileBody .filePor .volume { position: absolute; right: 16px; top: 50%; margin-top: -11px; font-size: 12px; color: #767676;}
.hTableBody table td .fileList .fileBody .filePor.error { border-color: #ee0700; background-color: #fff;}
.hTableBody table td .fileList .fileBody .button { margin-left: 4px;}
.hTableBody table td .dateSelect { display: flex; align-items: center; max-width: 300px;}
.hTableBody table td .dateSelect select { flex: 1;}
.hTableBody table td .dateSelect .other { width: 20px; margin-left: 4px;}
.hTableBody table td .dateSelect .other + select { margin-left: 16px;}
.hTableBody table td .combine { display: flex; align-items: center;}
.hTableBody table td .combine select { width: 100px; margin-left: 8px;}


.hTableBody table td .gubun { display: flex;}
.hTableBody table td .gubun .groupBox:first-child { width: 230px;}
.hTableBody table td .gubun .flexH { display: flex; align-items: center; height: 40px;}
.hTableBody table td .gubun .calendarBody { margin-left: 16px;}
.hTableBody table td .gubun .calendarBody input { width: 200px;}

.hTableBody table td .twin { display: flex;}
.hTableBody table td .twin select,
.hTableBody table td .twin input { flex: 1; margin-right: 4px;}
.hTableBody table td .spcemt { margin-top: 8px;}
.hTableBody table td .defaultBtn input { width: 400px;}
.hTableBody table td .defaultBtn .button { margin-left: 4px;}
.hTableBody table td input,
.hTableBody table td select { width: 100%;}
.hTableBody table td + th { border-left: 1px solid #dbdbdb;}



.hTableBody table td .mw200,
.hTableBody table td .mw260 { display: flex; align-items: center;}
.hTableBody table td .mw200 input,
.hTableBody table td .mw200 select { width: 200px;}
.hTableBody table td .mw260 input,
.hTableBody table td .mw260 select { width: 260px;}
.hTableBody table td .mw200 .other { margin-left: 4px;}
.hTableBody table td .mw220 { max-width: 220px;}
.hTableBody table td .mw404 { max-width: 404px;}
.hTableBody table td .mw528 { max-width: 528px;}
.hTableBody table td .defaultBtn { display: flex; align-items: center;}
.hTableBody table td .defaultBtn input,
.hTableBody table td .defaultBtn a { flex: 1;}

/* whTableBody */
.whTableBody { overflow: hidden; border-top: 2px solid #333;}
.whTableBody table { width: calc(100% + 1px); margin-left: -1px;}
.whTableBody table th { padding: 24px 0; line-height: 24px; border-left: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; background-color: #f7f7f7;}
.whTableBody table td { padding: 13px 16px; line-height: 24px; border-left: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;}
.whTableBody table td input[type=text],
.whTableBody table td input[type=tel] { height: 32px;}
.whTableBody table td .in  span { display: block;}
.whTableBody table td .in  span ~ span { margin-top: 8px;}
/* .whTableBody table td .defaultBtn { display: flex; align-items: center;}
.whTableBody table td .defaultBtn input { flex: 1;} */
.whTableBody table td .flexBtnOne .other { min-width: 37px; margin-left: 4px; text-align: right;}
.whTableBody table td.sameTh { font-weight: 700; text-align: center; background-color: #f7f7f7;}
.whTableBody.mt { margin-top: 24px;}
.whTableBody.mt2 { margin-top: 8px;}
.whTableBody.padding16 table th { padding: 16px 0;}

/* pageNumber */
.pageNumber { display: flex; align-items: center; justify-content: center; margin-top: 32px;}
.pageNumber a { display: flex; justify-content: center; align-items: center;  width: 40px; height: 40px; margin: 0 2px; padding-top: 3px; font-weight: 400; border: solid 1px #dbdbdb;}
.pageNumber a:hover { border-color: #366cc3;}
.pageNumber a.active { color: #fff; border-color: #366cc3; background-color: #366cc3;}
.pageNumber a i { display: inline-block; width: 16px; height: 16px; margin-top: -3px; text-indent: -99999px;}
.pageNumber .first i { background: url(../images/common/ico_arrow_left_double.svg) no-repeat center/cover;}
.pageNumber .prev i { background: url(../images/common/ico_arrow_left.svg) no-repeat center/cover;}
.pageNumber .next i { background: url(../images/common/ico_arrow_right.svg) no-repeat center/cover;}
.pageNumber .last i { background: url(../images/common/ico_arrow_right_double.svg) no-repeat center/cover;}
















/* 레이어
**********************************************/

.layerPopup { display: none; position: fixed; z-index: 1000; top: 0; right: 0; bottom: 0; left: 0; padding: 10px; background: rgba(0,0,0,0.4); outline: none; opacity: 0; transition: opacity .3s;}
.layerPopup::after { content: ""; display: inline-block; height: 100%; vertical-align: middle;}
.layerPopup.active { display: block;}
.layerPopup.show { opacity: 1;}
.layerBody { overflow: hidden; position:relative; left:50%; top:50%; max-height: 720px; padding: 8px 40px 32px; vertical-align: middle; background: #fff; border-radius: 8px; transform: translate(-50%, -50%);}
.layerBody.small { width: 384px;}
.layerBody.normal { width: 588px;}
.layerBody.big { width: 792px;}
.layerBody .overflowY { max-height: 560px; margin-right: -20px; padding-right: 16px;}
.layerTitle { display: flex; align-items: center; height: 56px; margin-bottom: 24px; font-size: 19px; border-bottom: 1px solid #333;}
.layerClose { position: absolute; right: 40px; top: 24px; font-size: 13px; color: #fff;}
.layerClose i { display: block; width: 24px; height: 24px; text-indent: -99999px; background: url(../images/common/ico_close2.svg) no-repeat center/cover;}

/* 전체 메뉴 */
#allMenu_pop { padding: 0; background-color: #fff;}
#allMenu_pop .layerClose { top: -39px;}
.layerPopup .sitemapHeader { display: flex; align-items: flex-end; height: 104px; padding-bottom: 7px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);}
.layerPopup .sitemapHeader h1 a { display: inline-block;}
.layerPopup .gnb { padding-top: 48px;}
.layerPopup .gnb .depth1 { display: flex;}
.layerPopup .gnb .depth1 >li { display: block !important; flex: 1;}
.layerPopup .gnb .depth1 >li ~ li { margin-left: 24px;}
.layerPopup .gnb .depth1 >li >a { height: 56px; color: #fff; background-color: #366cc3;}
.layerPopup .gnb .depth2 { display: block; padding-left: 20px; font-size: 16px; opacity: 1;}
.layerPopup .gnb .depth2 >li { margin-top: 24px;}
.layerPopup .gnb .depth3 >li >a { position: relative; padding-left: 6px; font-size: 14px; line-height: 21px; color: #5a5a5a;}
.layerPopup .gnb .depth3 >li >a::before { content: ''; display: block; width: 2px; height: 2px; position: absolute; left: 0; top: 6px; background-color: #5a5a5a;}
.layerPopup .gnb .depth3 >li:first-child { margin-top: 16px;}
.layerPopup .gnb .depth3 >li ~ li { margin-top: 8px;}

/* 우편번호 검색 */
.applyPostLayer .postTitle .b { display: block; margin-top: 8px; font-size: 14px; color: #767676;}
.applyPostLayer .postSearchBox { margin-top: 16px; padding: 24px; background-color: #f7f7f7;}
.applyPostLayer .postSearchBox .twin { display: flex; margin: 0 -2px;}
.applyPostLayer .postSearchBox .twin select { width: 50%; margin: 0 2px;}
.applyPostLayer .postSearchBox .flexBtnOne { margin-top: 8px;}
.applyPostLayer .postNumber { margin-top: 16px; font-size: 14px;}

/* 비밀번호 확인 */
.consultationPWLayer .pwInput { margin-top: 16px;}
.consultationPWLayer .pwInput input { width: 100%;}

























/* 로그인
**********************************************/

.stepLogin {}
.stepLogin .minNunber { display: flex; align-items: center; justify-content: center; height: 88px; margin-top: 40px; background-color: rgba(54, 108, 195, 0.05); border-radius: 8px;}
.stepLogin .minNunber .inputBody { display: flex; align-items: center; margin: 0 16px;}
.stepLogin .minNunber .inputBody span { display: block; position: relative; width: 200px;}
.stepLogin .minNunber .inputBody span input { width: 100%;}
.stepLogin .minNunber .inputBody span ~ span { margin-left: 17px;}
.stepLogin .minNunber .inputBody span ~ span::before { content: ''; display: block; position: absolute; left: -12px; top: 20px; width: 7px; height: 1px; background-color: #333;}
.stepLogin .flexText { display: flex; justify-content: space-between; align-items: baseline; margin-top: 16px;}


.stepLogin .stepBody { display: flex; background-color: rgba(54, 108, 195, 0.05); border-radius: 8px;}
.stepLogin .stepBody li { flex: 1; height: 195px;}
.stepLogin .stepBody li button { display: flex; align-items: center; justify-content: center; flex-direction: column; position: relative; width: 100%; height: 100%;}
.stepLogin .stepBody li .icon { display: flex; align-items: center; justify-content: center; width: 96px; height: 96px; margin: 0 auto; background-color: #fff; border-radius: 50%;}
.stepLogin .stepBody li .icon i { width: 64px; height: 64px;}
.stepLogin .stepBody li .text { display: block; margin-top: 8px; font-family: "EliceDigitalBaeum-Bd", "NanumBarunGothic"; font-size: 19px;}
.stepLogin .stepBody li .hp .icon i { background: url(../images/common/ico_mobile_acc.svg) no-repeat center/cover;}
.stepLogin .stepBody li .simple .icon i { background: url(../images/common/ico_simple_acc.svg) no-repeat center/cover;}
.stepLogin .stepBody li .onepass .icon i { background: url(../images/common/ico_onepass.svg) no-repeat center/cover;}
.stepLogin .stepBody li .public .icon i { background: url(../images/common/ico_commun_acc.svg) no-repeat center/cover;}
.stepLogin .stepBody li .finance .icon i { background: url(../images/common/ico_bank_acc.svg) no-repeat center/cover;}
.stepLogin .stepBody li .browser .icon i { background: url(../images/common/ico_browser_acc.svg) no-repeat center/cover;}
.stepLogin .stepBody li ~ li button::after { content: ''; position: absolute; left: -1px; top: 50%; z-index: 1; width: 1px; height: 131px; margin-top: -65px; background-color: #dbdbdb;}
.stepLogin .stepBody li button:hover { z-index: 2; border: solid 1px #366cc3; background-color: #fff; border-radius: 8px;}
.stepLogin .stepBody li button:hover::after { background-color: #366cc3;}
.stepLogin .stepBody li button:hover .icon { background-color: #f4f7fc;}
.stepLogin .stepBody li button:hover .text { color: #366cc3;}
.stepLogin .step2Group { display: flex; align-items: center; position: relative; height: 130px; margin-top: 40px; padding-left: 48px; border: solid 1px #dbdbdb; border-radius: 8px;}
.stepLogin .step2Group i { width: 64px; height: 64px; background: url(../images/common/ico_login_info.svg) no-repeat center/cover;}
.stepLogin .step2Group >div { margin-left: 32px;}
.stepLogin .step2Group >div .guideText { margin-top: 8px;}
.stepLogin .step2Group .step2Btn { position: absolute; right: 48px; bottom: 32px;}












/* 신청
**********************************************/

/* 연계신청 */
.targetBody .targetOff { display: flex; justify-content: center; margin-top: 40px; padding: 32px 0; background-color: #f7f7f7; border-radius: 8px;}
.targetBody .targetOff .icon { width: 64px; height: 64px; background: url(../images/common/ico_notapplication.svg) no-repeat center/cover;}
.targetBody .targetOff .textGroup { text-align: center;}
.targetBody .targetOff .textGroup h4 span { font-size: 24px;}
.targetBody .targetOff .textGroup h4 span.normal { font-size: 16px; font-weight: 400;}
.targetBody .targetOff .textGroup h4 span.text { position: relative; margin: 0 -2px; padding: 0 2px;}
.targetBody .targetOff .textGroup h4 span.text::before { content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 14px; background-color: #333; opacity: 0.1;}
.targetBody .targetOff .textGroup p { margin-top: 12px; font-size: 14px; color: #767676; line-height: 21px;}
.targetBody .targetOff .textGroup .btn { margin-top: 24px;}
.targetBody .targetOn { display: flex; justify-content: center; margin-top: 40px; padding: 32px 0; background-color: #f4f7fc; border-radius: 8px;}
.targetBody .targetOn .icon { width: 64px; height: 64px; background: url(../images/common/ico_application.svg) no-repeat center/cover;}
.targetBody .targetOn .textGroup { text-align: center;}
.targetBody .targetOn .textGroup h4 span { font-size: 24px;}
.targetBody .targetOn .textGroup h4 span.normal { font-size: 16px; font-weight: 400;}
.targetBody .targetOn .textGroup h4 span.text { position: relative; color: #366cc3;}
.targetBody .targetOn .textGroup h4 span.text::before { content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 14px; background-color: #366cc3; opacity: 0.1;}
.targetBody .targetOn .textGroup .button { margin-top: 24px;}
.targetBody .sameStyle { margin-top: 40px;}
.targetBody .sameStyle .tableBody { margin-top: 0;}

.agreeBody { margin-top: 40px;}

.appBody { margin-top: 40px;}


/* 신청상태조회 */
.proposalBody .flexGroup { display: flex; align-items: center; justify-content: space-between;}
.proposalBody .flexGroup dl { display: flex; align-items: center; border: 1px solid #dbdbdb;}
.proposalBody .flexGroup dl dt { padding: 11px 24px 10px; font-weight: 700; border-right: 1px solid #dbdbdb; background-color: #f7f7f7;}
.proposalBody .flexGroup dl dd { padding: 11px 17px 10px;}
.proposalBody h4.deText { margin-top: 24px; font-size: 24px; text-align: center;}
.proposalBody .sign1 { margin-top: 40px; padding-top: 40px; text-align: center; border-top: 1px solid #dbdbdb;}
.proposalBody .sign2 { margin-top: 40px; text-align: center;}
.proposalBody .text1 { margin-top: 24px; padding-left: 24px;}
.proposalBody .text1 p { margin-top: 16px;}



/* 청구
**********************************************/

/* 연계연금청구 */
.proposalBody .subFill { display: flex; align-items: center; justify-content: space-between; margin-top: 24px;}
.proposalBody .subFill >span { font-size: 14px;}
.etcCheckbox { position: absolute; right: 0; top: -27px;}
.etcBleuBox { margin-top: 8px; padding: 24px; background-color: #f4f7fc; border-radius: 8px;}
.etcBleuBox p { margin-top: 8px; font-size: 14px; line-height: 24px;}








/* 콘텐츠 명
**********************************************/

/* 하위 콘텐츠 명 */