@media all and (max-width:1246px){

/* 공통 구조
**********************************************/

.area { width: 100%;}

/* wrap */
.wrap { padding: 0 16px;}

/* lnbBody */
.wrap .lnbBody { display: none;}






























}
