@media screen and (max-width:1246px){

/* 공통 구조
**********************************************/

/* header */
.header .global,
.header .menu { padding: 0 16px;}
.gnb .depth1 >li { width: 16%;}
.gnb .depth1 >li:nth-child(6) { width: 20%;}

.header .menu .subMenuBlind::after { left: -20px; width: 100%; margin-left: 0;}

/* wrap */
.wrap { padding: 104px 16px 0;}

/* lnbBody */
.wrap .lnbBody { display: none;}

/* 푸터 */
.mFooterCon .mfBody { padding: 32px 16px;}
.mFooterCon .fSNS { right: 16px;}


/* 메인
**********************************************/

.mainWrap { padding: 104px 16px 0;}


























}
